openapi: 3.2.0
info:
  title: Device Management Device (3rd party) API
  x-logo:
    url: https://kontakt.io/wp-content/themes/kontakt/dist/img/site-header/logo.svg
    backgroundColor: '#FFFFFF'
  version: '10'
  description: This Kontakt.io API provides direct access to all Kio Cloud Device Management resources.
  contact:
    name: Support
    url: https://support.kontakt.io
    email: support@kontakt.io
  termsOfService: https://kontakt.io/legal-documents/terms-of-sale-and-service/
servers:
- url: https://dm-api.cloud.us.kontakt.io
  description: Kio Cloud US region
- url: https://dm-api.cloud.uk.kontakt.io
  description: Kio Cloud UK region
security:
- bearer_token: []
- api_key: []
tags:
- name: Device (3rd party)
  description: 'NOTE: this set of endpoints has been superseded by External Devices functionality.'
paths:
  /device/vendor/meraki/create:
    post:
      tags:
      - Device (3rd party)
      summary: Add a Meraki Integration
      description: This endpoint allows to associate your Meraki controller with Kontakt.io platform, enabling to use Meraki devices as external data sources for Data Streams
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                apiKey:
                  type: string
                  description: API Key used for authentication on Meraki's cloud
                secret:
                  type: string
                  description: Secret used for authentication on Meraki's backend
                validator:
                  type: string
                  description: Verification token ensuring Meraki's cloud that the endpoint is correct
              required:
              - apiKey
              - secret
              - validator
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                    description: API Key used for authentication on Meraki's cloud
                    example: skhefgjhdfgv347fsfdv
                  secret:
                    type: string
                    description: Secret used for authentication on Meraki's backend
                    example: SuperSecretString
                  validator:
                    type: string
                    description: Verification token ensuring Meraki's cloud that the endpoint is correct
                    example: lekur8934hiu2ghebv0tbshef
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - bearer_token: []
      - api_key: []
      parameters:
      - $ref: '#/components/parameters/accept'
      operationId: postDeviceVendorMerakiCreate
      x-operation-id-source: derived
  /device/vendor/meraki/update:
    post:
      tags:
      - Device (3rd party)
      summary: Update a Meraki Integration
      description: This endpoint allows to update an already existing integration with a Meraki platform
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                apiKey:
                  type: string
                  description: API Key used for authentication on Meraki's cloud
                secret:
                  type: string
                  description: Secret used for authentication on Meraki's backend
                validator:
                  type: string
                  description: Verification token ensuring Meraki's cloud that the endpoint is correct
              required:
              - apiKey
              - secret
              - validator
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: Update successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - bearer_token: []
      - api_key: []
      parameters:
      - $ref: '#/components/parameters/accept'
      operationId: postDeviceVendorMerakiUpdate
      x-operation-id-source: derived
  /device/vendor/meraki/delete:
    post:
      tags:
      - Device (3rd party)
      summary: Delete a Meraki Integration
      description: This endpoint allows to remove a Meraki integration
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Delete message
                    example: Delete successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - bearer_token: []
      - api_key: []
      parameters:
      - $ref: '#/components/parameters/accept'
      operationId: postDeviceVendorMerakiDelete
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      title: API Error
      properties:
        id:
          type: string
          description: Internal API error code
          example: API_ERROR_1693477316246
        status:
          type: number
          description: HTTP response status code
          example: 422
        cause:
          type: string
          description: General cause of the error
          example: ValidationError
        message:
          type: string
          description: Error message with an explanation of the problem
          example: Invalid value for field name
        details:
          type:
          - array
          - 'null'
          description: Optional details
          items:
            type: object
            properties:
              field:
                type: string
                example: name
              error:
                type: string
                description: Error name
                example: INVALID_VALUE
              message:
                type: string
                description: Error message
                example: Invalid value for field name
  parameters:
    accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.com.kontakt+json;version=10
      description: Accept header is required.
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Provide a JWT in the `Authorization: Bearer <token>` header. This is the standard authentication method for all API requests.


        Obtain a token via the OAuth2 Client Credentials flow from the Kontakt.io Keycloak identity provider.'
    api_key:
      type: apiKey
      name: Api-Key
      in: header
      description: '**Deprecated — do not use for new integrations.** This method exists solely for backward compatibility and will be removed in a future release. Use JWT Bearer token authentication instead.


        If you still need an API Key: sign in to **Kio Cloud** > select **Users** > select **Security** > copy your **Server API Key**.'
    management_api_key:
      name: Api-Key
      type: apiKey
      in: header
      description: Special management API Key with additional privileges used by authorized users.
externalDocs:
  url: https://developer.kontakt.io
