openapi: 3.1.0
info:
  title: Location & Occupancy
  version: '1.0'
  description: 'Real-time and historical Kio Cloud apps data including location tracking, occupancy, and telemetry.'
  contact:
    name: Kontakt.io Support
    url: 'https://support.kontakt.io'
    email: support@kontakt.io
  termsOfService: 'https://kontakt.io/terms-of-service'
  summary: 'Real-time and historical Kio Cloud apps data including location tracking, occupancy, and telemetry.'
servers:
  - url: 'https://apps.cloud.us.kontakt.io'
    description: 'Kio Cloud US '
  - url: 'https://apps.cloud.uk.kontakt.io'
    description: Kio Cloud UK
paths:
  /v2/locations/campuses:
    get:
      summary: List all campuses
      operationId: get-locations-campuses
      description: |
        Returns a list of all campuses. Resource supports pagination through request parameters.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: integer
          in: query
          name: id
          description: Filter by campus ID
        - schema:
            type: string
          in: query
          name: name
          description: Filter by name
        - schema:
            type: string
          in: query
          name: description
          description: Filter by description
        - schema:
            type: string
          in: query
          name: buildingName
          description: Filter by the building name
        - $ref: '#/components/parameters/floorName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus-List'
              examples:
                All campuses:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v2/locations/campuses?page=0&size=20'
                    content:
                      - id: 93915
                        name: K.io_Lab_fixed
                        address: '3, Stoczniowców, Podgórze, Krakow, 30-709, Poland'
                        description: Krakow Lab
                        lat: 50.0500646
                        lng: 19.9816184
                        buildings:
                          - id: 94194
                            name: Lab
                            address: '3, Stoczniowców, Podgórze, Krakow, 30-709, Poland'
                            description: Krakow Lab
                            floors:
                              - id: 94215
                                name: Lab_floor_prod1
                                height: 17.8
                                width: 14.6
                                properties:
                                  gridWidth: 4
                                  gridBounds:
                                    boundsLat:
                                      north: 22.2
                                      south: -4.3
                                    boundsLng:
                                      east: 23
                                      west: -8.4
                                  gridDensity: 1
                                  outlineCreated: true
                                level: 0
                                xyGeojson:
                                  type: Feature
                                  geometry:
                                    type: Polygon
                                    coordinates:
                                      - - - 0
                                          - 17.8
                                        - - 14.6
                                          - 17.8
                                        - - 14.6
                                          - 0
                                        - - 0
                                          - 0
                                        - - 0
                                          - 17.8
                                  properties: {}
                                imageXyGeojson:
                                  type: Feature
                                  geometry:
                                    type: Polygon
                                    coordinates:
                                      - - - -0.4
                                          - 18.2
                                        - - 14.9
                                          - 18.2
                                        - - 14.9
                                          - -0.3
                                        - - -0.4
                                          - -0.3
                                        - - -0.4
                                          - 18.2
                            lat: 50.050278
                            lng: 19.9820425
                    page:
                      size: 20
                      totalElements: 1
                      totalPages: 1
                      number: 0
      tags:
        - Campuses
      security:
        - api_key: []
    parameters: []
  '/v2/locations/campuses/{id}':
    get:
      summary: Retrieve a campus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus'
              examples: {}
          headers: {}
      operationId: get-locations-campuses
      description: |
        Retrieves the details of a single campus by its ID. 

        Supply the unique Campus ID and its corresponding information returned includes the campus buildings, building floors, and each floor's gateway and sensor devices.
      parameters: []
      x-internal: false
      tags:
        - Campuses
      security:
        - api_key: []
    parameters:
      - schema:
          type: string
          example: '93915'
        name: id
        in: path
        required: true
        description: ID of the campus.
  /v2/locations/buildings:
    get:
      summary: List all buildings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
              examples:
                All Buildings:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v2/locations?page=0&size=20'
                    content:
                      - id: 94194
                        name: Lab
                        address: '3, Stoczniowców, Podgórze, Krakow, 30-709, Poland'
                        description: Krakow Lab
                        floors:
                          - id: 94215
                            name: Lab_floor_prod1
                            height: 17.8
                            width: 14.6
                            properties:
                              gridWidth: 4
                              gridBounds:
                                boundsLat:
                                  north: 22.2
                                  south: -4.3
                                boundsLng:
                                  east: 23
                                  west: -8.4
                              gridDensity: 1
                              outlineCreated: true
                            level: 0
                            xyGeojson:
                              type: Feature
                              geometry:
                                type: Polygon
                                coordinates:
                                  - - - 0
                                      - 17.8
                                    - - 14.6
                                      - 17.8
                                    - - 14.6
                                      - 0
                                    - - 0
                                      - 0
                                    - - 0
                                      - 17.8
                              properties: {}
                            imageXyGeojson:
                              type: Feature
                              geometry:
                                type: Polygon
                                coordinates:
                                  - - - -0.4
                                      - 18.2
                                    - - 14.9
                                      - 18.2
                                    - - 14.9
                                      - -0.3
                                    - - -0.4
                                      - -0.3
                                    - - -0.4
                                      - 18.2
                        campus:
                          id: 93915
                          name: K.io_Lab_fixed
                        lat: 50.050278
                        lng: 19.9820425
                    page:
                      size: 20
                      totalElements: 1
                      totalPages: 1
                      number: 0
      operationId: get-locations-buildings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/floorName'
        - schema:
            type: string
          in: query
          name: buildingId
          description: Filter by building IDs
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/description'
      description: |-
        Returns a list of all buildings. 
        Resource supports pagination through request parameters.
      tags:
        - Buildings
      security:
        - api_key: []
    parameters: []
  '/v2/locations/buildings/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID of the building.
    get:
      summary: Retrieve a building
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
              examples: {}
      operationId: get-v2-locations-buildings-id
      description: Retrieve a single building by ID.
      parameters: []
      tags:
        - Buildings
      security:
        - api_key: []
  /v2/locations/rooms:
    get:
      summary: List all rooms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rooms'
      operationId: get-locations-rooms
      description: Returns a list of rooms. Resource supports pagination through request parameters.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/name'
        - schema:
            type: string
          in: query
          name: campusName
          description: Filter by the campus name or one of multiple names
        - schema:
            type: string
          in: query
          description: Filter by room id or one of multiple roomIds
          name: id
        - schema:
            type: string
          in: query
          name: buildingName
          description: Filter by the building name or one of multiple names
      x-extension-2: null
      tags:
        - Rooms
      security:
        - api_key: []
    parameters: []
  /v2/locations/floors:
    get:
      summary: List all floors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Floors'
      operationId: get-locations-floors
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
          in: query
          name: id
          description: Filter by one or more floor IDs
        - schema:
            type: string
          in: query
          name: name
          description: Filter by one or more floor names
        - schema:
            type: string
          in: query
          name: locationId
          description: Filter by one or more floor location IDs
        - schema:
            type: string
          in: query
          name: locationName
          description: Filter by one or more floor names
        - schema:
            type: string
          in: query
          name: exceptId
          description: Filter out one or more floor IDs
        - schema:
            type: string
          in: query
          name: sourceId
          description: Filter by one or more sourceIds of attached gateways
      description: Retrieve a floor list. Resource supports pagination through request parameters.
      tags:
        - Floors
      security:
        - api_key: []
    parameters: []
  '/v3/locations/images/{type}/{id}':
    get:
      summary: Retrieve location image
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    topologyType:
                      type: string
                    id:
                      type: integer
                    presignedUrl:
                      type: string
                x-examples:
                  example-1:
                    - topologyType: CAMPUS
                      id: 27857
                      presignedUrl: 'http://localhost/images/campus/test1234test/27857'
                    - topologyType: CAMPUS
                      id: 27858
                      presignedUrl: 'http://localhost/images/campus/test1234test/27858'
              examples:
                example-1:
                  value:
                    - topologyType: CAMPUS
                      id: 27857
                      presignedUrl: 'http://localhost/images/campus/test1234test/27857'
                    - topologyType: CAMPUS
                      id: 27858
                      presignedUrl: 'http://localhost/images/campus/test1234test/27858'
      operationId: get-v3-locations-images
      description: |-
        Returns a target URL to download the images of the ids requested by topology type (Smart Location campus, building, floor). Floor type results in the floor plan image.

        URL is valid for 24 hours.

        Whenever possible, request multiple ids to limit the number of calls and decrease your latency.
      security:
        - api_key: []
      parameters: []
      tags:
        - Location Images
    parameters:
      - schema:
          type: string
          enum:
            - CAMPUS
            - BUILDING
            - FLOOR
        name: type
        in: path
        description: Type of topology item.
        required: true
      - schema:
          type: integer
          example: '177214, 187564'
        name: id
        in: path
        required: true
        description: Comma-separated list of each topology identifier (id).
  /v2/locations/room-sensors:
    get:
      summary: List all room sensors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room-Sensors'
              examples:
                example-1:
                  value:
                    “links”:
                      - “rel”: “first”
                        “href”: '“https://apps-api.test.kontakt.io/v2/locations/room-sensors?page=0&size=20”'
                      - “rel”: “self”
                        “href”: '“https://apps-api.test.kontakt.io/v2/locations/room-sensors?page=0&size=20”'
                      - “rel”: “next”
                        “href”: '“https://apps-api.test.kontakt.io/v2/locations/room-sensors?page=1&size=20”'
                      - “rel”: “last”
                        “href”: '“https://apps-api.test.kontakt.io/v2/locations/room-sensors?page=1&size=20”'
                    “content”:
                      - “id”: 2542804
                        “x”: 2.25
                        “y”: 1.65625
                        “name”: “XXX”
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2542666
                        “status”: “Unassigned”
                      - “id”: 2542800
                        “x”: 2.90625
                        “y”: 12.171875
                        “name”: “XXXX”
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2541937
                        “status”: “Unassigned”
                      - “id”: 2448055
                        “x”: 11.4375
                        “y”: 11.375
                        “trackingId”: '“ef:d1:f5:e3:fb:cf”'
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Static”
                        “room”:
                          “id”: 2448035
                        “status”: “Assigned”
                      - “id”: 2542797
                        “x”: 6.34375
                        “y”: 1.046875
                        “name”: “Test XXX1"
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2447764
                        “status”: “Unassigned”
                      - “id”: 2447779
                        “x”: 2.600747
                        “y”: 9.630371
                        “trackingId”: '“f1:cf:09:22:dd:1f”'
                        “type”: “Static”
                        “room”:
                          “id”: 2447763
                        “status”: “Assigned”
                      - “id”: 2542796
                        “x”: 3.4217899999999997
                        “y”: 5.67749
                        “trackingId”: '“f6:02:58:91:04:ab”'
                        “name”: “Test 3"
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2446879
                        “status”: “Assigned”
                      - “id”: 2542795
                        “x”: 2.8748800495754185
                        “y”: 5.75
                        “name”: “TEST1 EMPTY BEAM”
                        “inbounds”: []
                        “outbounds”: []
                        “room”:
                          “id”: 2446879
                        “status”: “Unassigned”
                      - “id”: 2542775
                        “x”: 4.099009622190768
                        “y”: 5.949553771661555
                        “name”: “Test”
                        “inbounds”: []
                        “outbounds”: []
                        “room”:
                          “id”: 2446879
                        “status”: “Unassigned”
                      - “id”: 2542794
                        “name”: “Test”
                        “inbounds”: []
                        “outbounds”: []
                        “room”:
                          “id”: 2446879
                        “status”: “Unassigned”
                      - “id”: 2542774
                        “name”: “Test”
                        “inbounds”: []
                        “outbounds”: []
                        “room”:
                          “id”: 2446878
                        “status”: “Unassigned”
                      - “id”: 2447186
                        “x”: 10.125
                        “y”: 8.58374
                        “trackingId”: '“fd:5b:1e:06:70:14”'
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Static”
                        “room”:
                          “id”: 2446878
                        “status”: “Assigned”
                      - “id”: 2542801
                        “x”: 9.46875
                        “y”: 2.067871
                        “name”: “RRRR 123"
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2446875
                        “status”: “Unassigned”
                      - “id”: 2542799
                        “x”: 10.375
                        “y”: 1.21875
                        “name”: “Test 4444 XXX”
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2446875
                        “status”: “Unassigned”
                      - “id”: 2542798
                        “x”: 6.1764405
                        “y”: 17.031886
                        “name”: “XXX 123123 sadf asdf “
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Traffic”
                        “room”:
                          “id”: 2441277
                        “status”: “Unassigned”
                      - “id”: 2447155
                        “x”: 8.40625
                        “y”: 15.125071803066383
                        “trackingId”: '“be:a2:80:01:02:03”'
                        “type”: “Static”
                        “room”:
                          “id”: 2441276
                        “status”: “Assigned”
                      - “id”: 2540974
                        “x”: 9.982244
                        “y”: 16.8439795
                        “trackingId”: '“cc:b4:5d:db:51:49"'
                        “type”: “Static”
                        “room”:
                          “id”: 2441276
                        “status”: “Assigned”
                      - “id”: 2446559
                        “x”: 11.688361592803698
                        “y”: 18.875
                        “trackingId”: '“c5:0d:7f:1b:97:27”'
                        “type”: “Static”
                        “room”:
                          “id”: 2441276
                        “status”: “Assigned”
                      - “id”: 2447175
                        “x”: 8.8125
                        “y”: 18.90625
                        “trackingId”: '“f0:1b:f7:e0:d3:e9"'
                        “type”: “Static”
                        “room”:
                          “id”: 2441276
                        “status”: “Assigned”
                      - “id”: 2542776
                        “x”: 3.9375
                        “y”: 18.65625
                        “type”: “Traffic”
                        “room”:
                          “id”: 2441275
                        “status”: “Unassigned”
                      - “id”: 2436974
                        “x”: 19.4
                        “y”: 27.1
                        “trackingId”: '“cb:68:7b:d9:b3:c7"'
                        “inbounds”: []
                        “outbounds”: []
                        “type”: “Static”
                        “room”:
                          “id”: 2436755
                        “status”: “Assigned”
                    “page”:
                      “size”: 20
                      “totalElements”: 32
                      “totalPages”: 2
                      “number”: 0
      operationId: get-v2-locations-room-sensors
      description: Returns a list of sensors located in all rooms.
      tags:
        - Rooms
      security:
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
  /v3/presences:
    get:
      summary: Retrieve devices present in a location
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presence-Device'
      operationId: get-presences
      description: 'Returns the devices currently present in a location (campus, building, floor, or room).'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/floorId'
        - $ref: '#/components/parameters/buildingId'
        - $ref: '#/components/parameters/trackingId'
        - schema:
            type: number
          in: query
          name: roomId
          description: Filter by one or more Room Ids (separated by comma).
        - $ref: '#/components/parameters/campusId'
      tags:
        - Presences
      security:
        - api_key: []
    parameters: []
  /v3/presences/history:
    get:
      summary: Retrieve device presence history for a location
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presence-History-Devices'
        '429':
          $ref: '#/components/responses/error-429'
      operationId: get-presences-history
      description: 'Returns the history of devices present in a location. '
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/floorId'
        - $ref: '#/components/parameters/buildingId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - schema:
            type: string
          in: query
          name: roomId
          description: Filter by room ID(s).
        - schema:
            type: string
            example: 'd6:3c:5d:b2:7c:a9'
          in: query
          name: trackingId
          description: 'Filter by one or more tracking IDs (device MAC address) <br> alpha characters: lowercase required'
          required: true
      tags:
        - Presences
      security:
        - api_key: []
    parameters: []
  /v2/positions:
    get:
      summary: Retrieve device last position
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position-Device'
      operationId: get-positions
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: number
            example: 94215
          in: query
          name: floorId
          description: Filter by one or multiple floor ID(s).
        - schema:
            type: number
            example: 94194
          in: query
          name: buildingId
          description: 'Filter by one or multiple building ID(s). '
        - schema:
            type: number
            example: 93915
          in: query
          name: campusId
          description: Filter by one or multiple campus ID(s).
        - schema:
            type: string
            example: 'dd:24:d0:82:3d:7c'
          in: query
          name: trackingId
          description: 'Filter by one or multiple tracking IDs (MAC address) of a device; alpha characters: lowercase required'
        - schema:
            type: boolean
            enum:
              - 'true'
              - 'false'
              - 'null'
          in: query
          name: lost
          description: Filter by lost flag.
      description: |
        Returns the last postion of a Kontakt.io Tag device (BLE beacon) by trackingId (MAC address) or multiple trackingIds.
      tags:
        - Positions
      security:
        - api_key: []
    parameters: []
  /v2/positions/history:
    get:
      summary: Retrieve device position history
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position-Device-History'
        '429':
          $ref: '#/components/responses/error-429'
      operationId: get-positions-history
      description: |-
        Returns the location history for a device; by trackingId (MAC address). 

        > **IMPORTANT**
        > <br> - **trackingID** must be in **all lower case** (example: d6:3c:5d:b2:7c:a9) <br>
        > <br> - If **startTime** is empty, automatically sets startTime to **current time -15 minutes** <br>
        > <br> - **endTime** is not required, but can used it to limit the displayed data <br>
        > <br> - Difference between **startTime** to **endTime** cannot exceed **7 days** <br>
        > <br> - **Size** parameter specifies how many records will be displayed (20 by default). If there are records that haven't been displayed because of the size limit, the response will be paginated - it will contain links array, with a link to the next page, and page.hasNext value will be True.<br>
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/floorId'
        - schema:
            type: string
            example: '2020-11-27T08:00:00.000000Z'
          in: query
          name: startTime
          description: ISO 8601 Timestamp - if not provided defaults to time at 15 minutes ago
        - schema:
            type: string
            example: ' 2020-11-27T08:45:00.000000Z'
          in: query
          name: endTime
          description: Historical positions end time (ISO 8601 Timestamp) - difference between startTime and endTime cannot exceed 7 days
        - $ref: '#/components/parameters/lost'
        - schema:
            type: string
            example: 'd6:3c:5d:b2:7c:a9'
          in: query
          name: trackingId
          description: 'Filter by one or more tracking IDs (device MAC address) <br> alpha characters: lowercase required'
          required: true
      tags:
        - Positions
      security:
        - api_key: []
    parameters: []
  /v3/telemetry:
    get:
      summary: Retrieve telemetry by Tracking ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Telemetry'
              examples:
                Portal Beam:
                  value:
                    content:
                      - trackingId: 'fd:45:0a:68:25:7d'
                        timestamp: '2022-03-20T23:39:00Z'
                        batteryLevel: 99
                        channel: 38
                        humidity: 18
                        lightIntensity: 0
                        rssi: -62
                        sourceId: 12Bh000T
                        temperature: 19.226562
                        airQuality: 125
                        roomNumber: 220
                        numberOfPeopleDetected: 0
                        secondsSincePeopleDetection: 13
                        firmware: '2.6'
                        model: 31
                        txPowerDbm: -4
                        uniqueId: 11rc007c
                        calibratedRssi1m: -69
                        moving: false
                Smart Badge:
                  value:
                    content:
                      - trackingId: 'ca:26:7b:8a:f1:0c'
                        timestamp: '2022-03-20T23:26:00Z'
                        batteryLevel: 78
                        channel: 38
                        clickCounter: 0
                        movementCounter: 1
                        rssi: -64
                        sourceId: '14:16:9d:82:6d:80'
                        temperature: 14.746094
                        secondButtonClickCounter: 0
                        roomNumber: 65535
                        firmware: '2.6'
                        model: 30
                        txPowerDbm: -4
                        uniqueId: 10tH008F
                        calibratedRssi1m: -69
                        moving: false
                Asset Tag 2:
                  value:
                    content:
                      - trackingId: '00:fa:b6:01:ff:f8'
                        timestamp: '2022-03-20T23:26:00Z'
                        batteryLevel: 98
                        channel: 39
                        rssi: -88
                        sourceId: '10:b3:c6:ba:17:a0'
                        roomNumber: 4
                        model: 33
                        txPowerDbm: -4
                        uniqueId: 11eZ01m6
                        calibratedRssi1m: -69
                        moving: false
                Anchor Beacon 2:
                  value:
                    content:
                      - trackingId: 'eb:b9:85:66:73:dc'
                        timestamp: '2022-03-20T23:26:00Z'
                        batteryLevel: 94
                        channel: 39
                        rssi: -65
                        sourceId: Mv1640
                        temperature: 14.78125
                        roomNumber: 0
                        firmware: '2.6'
                        model: 34
                        txPowerDbm: -12
                        uniqueId: 11a5037J
                        calibratedRssi1m: -77
                        moving: false
        '429':
          $ref: '#/components/responses/error-429'
      operationId: get-telemetry
      description: |-
        Returns telemetry data for a single trackingId (MAC address) or filter by multiple IDs.

        **IMPORTANT**
        - startTime and endTime is limited to a 24 hour duration
        - Set size to 2000

        **NOTE:** Telemetry response data varies by product model and configured settings. Example responses provided for Portal Beam, Smart Badge, Asset Tag 2, and Anchor Beacon 2.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
            example: '2022-03-21T04:25:44.927375Z'
          in: query
          name: endTime
          description: Filter by telemetry timestamp range end time
          required: true
        - schema:
            type: string
            example: '2022-03-20T23:25:44.927392Z'
          in: query
          name: startTime
          description: Filter by telemetry timestamp range start time
          required: true
        - schema:
            type: string
            example: 'fd:45:0a:68:25:7d'
          in: query
          description: Filter by comma-separated list of tracking IDs (MAC address; alpha characters all lowercase).
          name: trackingId
      tags:
        - Telemetry
      security:
        - api_key: []
    parameters: []
  /v2/locations/gateways:
    get:
      summary: List all gateways
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Floor-Gateways'
              examples:
                example-1:
                  value:
                    links:
                      - rel: self
                        href: 'https://apps.cloud.us.kontakt.io/v2/locations/gateways?page=0&size=100&sort=id,asc'
                    content:
                      - id: 24305
                        lat: 57.4770162657816
                        lng: -101.69751627231699
                        altitude: 87.35568496060814
                        x: 1085.0987979465135
                        'y': 63801.81179821145
                        z: 4.014334689282525
                        verticalOrientation: 84
                        range: -147
                        virtual: false
                        sourceId: DyYlymXTSBZIGtHN
                        floor:
                          id: 25197
                    page:
                      size: 100
                      totalElements: 1
                      totalPages: 1
                      number: 0
      operationId: get-v2-locations-gateways
      description: 'Returns a list of all gateways located in all floors. Data returned includes each gateway''s floor location, position details including coordinate values and range (RSSI).'
      tags:
        - Gateways
      security:
        - api_key: []
  /v3/occupancy/rooms:
    get:
      summary: Retrieve current room occupancy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Room-Current'
              examples:
                all rooms:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms?page=0&size=20'
                    content:
                      - roomId: 94105
                        roomName: Hospital Lab
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:11:09.106Z'
                        occupancy: 0
                      - roomId: 94106
                        lastUpdate: '2021-11-22T15:33:21.702Z'
                        occupancy: 0
                      - roomId: 94107
                        roomName: Grace Hopper Conference Room
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-23T14:13:26.816Z'
                        occupancy: 0
                      - roomId: 94108
                        roomName: Cafeteria
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:10:46.938Z'
                        occupancy: 0
                      - roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:09:51.199Z'
                        occupancy: 7
                      - roomId: 94110
                        roomName: Margaret Hamilton Conference Room
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:10:57.444Z'
                        occupancy: 0
                      - roomId: 126956
                        roomName: Workstations
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:11:14.434Z'
                        occupancy: 0
                      - roomId: 127236
                        roomName: Kontakt room
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-26T12:25:56.287Z'
                        occupancy: 0
                      - roomId: 127414
                        lastUpdate: '2021-11-22T18:08:20.827Z'
                        occupancy: 0
                    page:
                      size: 20
                      totalElements: 9
                      totalPages: 1
                      number: 0
                roomId query:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms?page=0&size=20'
                    content:
                      - roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        lastUpdate: '2021-11-28T16:16:42.096Z'
                        occupancy: 6
                    page:
                      size: 20
                      totalElements: 1
                      totalPages: 1
                      number: 0
            application/xml:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                type: object
                properties: {}
            text/html:
              schema:
                $ref: '#/components/schemas/Rooms'
      operationId: get-v3-occupancy-rooms
      description: Returns the current occupancy for all rooms or optionally for specific rooms with roomId query parameter.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - in: query
          name: roomId
          schema:
            type: number
            example: 127236
          description: Filter by roomId
      tags:
        - 'Occupancy: Room'
      security:
        - api_key: []
  /v3/occupancy/rooms/history:
    parameters: []
    get:
      summary: Retrieve room occupancy history
      operationId: get-v2-occupancy-roomId
      description: Returns the occupancy history for a single room or multiple rooms specified with the roomId query parameter.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/roomId'
      tags:
        - 'Occupancy: Room'
      security:
        - api_key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Room-History'
              examples:
                roomId query:
                  value:
                    links:
                      - rel: first
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms/history?roomId=94109&page=0&size=20'
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms/history?roomId=94109'
                      - rel: next
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms/history?roomId=94109&page=1&size=20'
                      - rel: last
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/rooms/history?roomId=94109&page=48&size=20'
                    content:
                      - startTime: '2021-11-27T16:24:29.782Z'
                        endTime: '2021-11-27T16:25:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:25:29.782Z'
                        endTime: '2021-11-27T16:26:29.782Z'
                        occupancy: 4
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:26:29.782Z'
                        endTime: '2021-11-27T16:29:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:29:29.782Z'
                        endTime: '2021-11-27T16:33:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:33:29.782Z'
                        endTime: '2021-11-27T16:36:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:36:29.782Z'
                        endTime: '2021-11-27T16:37:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:37:29.782Z'
                        endTime: '2021-11-27T16:38:29.782Z'
                        occupancy: 7
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:38:29.782Z'
                        endTime: '2021-11-27T16:39:29.782Z'
                        occupancy: 4
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:39:29.782Z'
                        endTime: '2021-11-27T16:41:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:41:29.782Z'
                        endTime: '2021-11-27T16:42:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:42:29.782Z'
                        endTime: '2021-11-27T16:44:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:44:29.782Z'
                        endTime: '2021-11-27T16:46:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:46:29.782Z'
                        endTime: '2021-11-27T16:47:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:47:29.782Z'
                        endTime: '2021-11-27T16:48:29.782Z'
                        occupancy: 7
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:48:29.782Z'
                        endTime: '2021-11-27T16:49:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:49:29.782Z'
                        endTime: '2021-11-27T16:50:29.782Z'
                        occupancy: 4
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:50:29.782Z'
                        endTime: '2021-11-27T16:52:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:52:29.782Z'
                        endTime: '2021-11-27T16:53:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:53:29.782Z'
                        endTime: '2021-11-27T16:58:29.782Z'
                        occupancy: 6
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                      - startTime: '2021-11-27T16:58:29.782Z'
                        endTime: '2021-11-27T16:59:29.782Z'
                        occupancy: 5
                        roomId: 94109
                        roomName: Entrance
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                    page:
                      size: 20
                      totalElements: 977
                      totalPages: 49
                      number: 0
        '429':
          $ref: '#/components/responses/error-429'
  /v3/occupancy/room-attributes:
    get:
      summary: Retrieve current seat occupancy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Room-Attributes-Current'
              examples:
                roomId query:
                  value:
                    content:
                      - roomId: 25934
                        roomName: YyiTOHCAOjGt
                        floorId: 25914
                        floorName: yBXNHcpkmiQb
                        buildingId: 25894
                        buildingName: IYZoenFDSyCo
                        campusId: 25834
                        campusName: xnYmAUTTGqSH
                        attributeId: PpSgotTSbQHR
                        attributeName: DzxmsiPKdtqa
                        lastUpdate: '2021-11-17T15:49:51.139Z'
                        occupancy: 1
                All rooms:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v3/occupancy/room-attributes?page=0&size=20'
                    content:
                      - roomId: 126956
                        roomName: Workstations
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        attributeId: 16c99533-69ee-4f15-bc33-262166717484
                        attributeName: '3'
                        lastUpdate: '2021-11-28T16:30:49.129Z'
                        occupancy: 0
                      - roomId: 126956
                        roomName: Workstations
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        attributeId: 7d5840f7-726a-49e6-9f58-96b5e0a969fa
                        attributeName: '4'
                        lastUpdate: '2021-11-28T16:30:49.130Z'
                        occupancy: 0
                      - roomId: 126956
                        roomName: Workstations
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        attributeId: d1411a86-9bf6-4eb1-8528-4e289faa5274
                        attributeName: '2'
                        lastUpdate: '2021-11-28T16:30:49.133Z'
                        occupancy: 0
                      - roomId: 126956
                        roomName: Workstations
                        floorId: 94215
                        floorName: Lab_floor_prod1
                        buildingId: 94194
                        buildingName: Lab
                        campusId: 93915
                        campusName: K.io_Lab_fixed
                        attributeId: 5a4ef38a-3766-4c30-bba0-4efe8df8f65b
                        attributeName: '1'
                        lastUpdate: '2021-11-28T16:30:49.134Z'
                        occupancy: 0
                    page:
                      size: 20
                      totalElements: 4
                      totalPages: 1
                      number: 0
      operationId: get-v3-occupancy-room-attributes
      description: |-
        Returns the current seat occupany for all Rooms or the current seat occupancy for a room(s) with the roomId query parameter.

        By default **valueType** parameter is set to **binary**: occupancy returned is either 0 (not occupied) or 1 (occupied). 
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - in: query
          name: roomId
          schema:
            type: number
            example: 127326
          description: Filter by one or more Room IDs (separated by comma)
        - $ref: '#/components/parameters/valueType'
      tags:
        - 'Occupancy: Seats'
      security:
        - api_key: []
    parameters: []
  /v3/occupancy/room-attributes/history:
    get:
      summary: Retrieve seat occupancy history by room
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Room-Attributes-History'
              examples: {}
        '429':
          $ref: '#/components/responses/error-429'
      operationId: get-v3-occupancy-room-attributes-history
      description: |-
        Returns the seat occupancy history for a room.

        By default **valueType** parameter is set to **binary**: occupancy returned is either 0 (not occupied) or 1 (occupied).
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - in: query
          name: roomId
          schema:
            type: number
            example: 126956
          description: Filter by one or more Room IDs (separated by comma)
          required: true
        - $ref: '#/components/parameters/valueType'
      tags:
        - 'Occupancy: Seats'
      security:
        - api_key: []
    parameters: []
  /v2/locations/spaces:
    get:
      summary: List all footfall spaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v2/locations/spaces?page=0&size=20'
                    content:
                      - id: 619e418cd272f240e3d00518
                        name: Conference and Spaces
                        roomIds:
                          - 127236
                          - 126956
                          - 94110
                        links: []
                    page:
                      size: 20
                      totalElements: 1
                      totalPages: 1
                      number: 0
                properties:
                  content:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                          description: ID of the footfall space.
                        name:
                          type: string
                          minLength: 1
                          description: Name of the footfall space.
                        roomIds:
                          type: array
                          description: IDs of rooms contained in the footfall space.
                          items: {}
                      required:
                        - id
                        - name
                required:
                  - content
              examples:
                example-1:
                  value:
                    links:
                      - rel: self
                        href: 'http://apps.cloud.us.kontakt.io/v2/locations/spaces?page=0&size=20'
                    content:
                      - id: 619e418cd272f240e3d00518
                        name: Conference and Spaces
                        roomIds:
                          - 127236
                          - 126956
                          - 94110
                        links: []
                    page:
                      size: 20
                      totalElements: 1
                      totalPages: 1
                      number: 0
        '201':
          description: Created
      operationId: get-v2-locations-spaces
      description: |-
        Returns a list of footfall spaces including the roomIds assigned to the space.

        A footfall space is a user-defined virtual location that identifies where a Traffic Portal Beam measures the inbound (entering) and outbound (exiting) people traffic. The Portal Beam uses an invisible threshold line to detect people entering and exiting at its installation location.

        Endpoint supports pagination and filtering.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - schema:
            type: string
          in: query
          name: name
          description: Footfall space name or beginning of part name to search. Only one of the filters can be used.
        - schema:
            type: string
          in: query
          description: ID of multiple IDs of rooms contained by footfall locations to search. Only one of the filters can be used.
          name: roomId
      security:
        - api_key: []
      requestBody:
        content: {}
      tags:
        - Footfall Spaces
  /v3/occupancy/spaces:
    get:
      summary: Retrieve current footfall occupancy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Footfall-Current'
      operationId: get-v3-occupancy-spaces
      description: |-
        Returns the current occupancy of all footfall spaces or for a specific footfall space(s) with use of the spaceId query parameter.

        Occupancy is the count of people present in a footfall space. 

        A footfall space is a user-defined virtual location that identifies where a Traffic Portal Beam measures the inbound (entering) and outbound (exiting) people traffic. The Portal Beam uses an invisible threshold line to detect people entering and exiting at its installation location.

        The occupancy count of a footfall space is reset every day at midnight. This means that the count starts from zero at the beginning of each day, and only includes the traffic recorded during that day.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - in: query
          name: spaceId
          schema:
            type: string
            example: 619e418cd272f240e3d00518
          description: Filter by one or multiple spaceIDs (separated by comma)
      tags:
        - 'Occupancy: Footfall'
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Occupancy-Footfall-Current'
  /v3/occupancy/spaces/history:
    get:
      summary: Retrieve footfall occupancy history
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Occupancy-Footfall-History'
              examples:
                example-1:
                  value:
                    startTime: '2021-11-17T15:48:18.556Z'
                    endTime: '2021-11-17T15:49:08.556Z'
                    occupancy: 66371635
                    spaceId: 619524a6ba8a8c1963d8b7e2
                    spaceName: gTRkqRYmGyqO
        '429':
          $ref: '#/components/responses/error-429'
      operationId: get-v3-occupancy-spaces-history
      description: |
        Returns the occupancy history of a footfall space or for a specific footfall space(s) with use of the spaceId query parameter.

        Occupancy is the count of people present in the footfall space.

        A footfall space is a user-defined virtual location that identifies where a Traffic Portal Beam measures the inbound (entering) and outbound (exiting) people traffic. The Portal Beam is uses an invisible threshold line to detect people entering and exiting the location at its installation location.

        The occupancy count of a footfall space is reset every day at midnight. This means that the count starts from zero at the beginning of each day, and only includes the traffic recorded during that day.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - schema:
            type: string
          in: query
          name: spaceId
          description: Filter by one or multiple Space IDs (separated by comma)
          required: true
      tags:
        - 'Occupancy: Footfall'
      security:
        - api_key: []
    parameters: []
  /v3/occupancy:
    parameters: []
    get:
      description: ''
  /v3/novid/colocations:
    get:
      summary: List colocated devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Colocated-devices-list'
              examples:
                example-1:
                  value:
                    content:
                      - entityId: 29357
                        entityName: OhJOfzEYtgQC
                        trackingId: YDDDkL
                        startTime: '2022-01-11T08:17:00.725468Z'
                        endTime: '2022-01-18T08:17:00.725485Z'
                        contacts:
                          - entityId: 29356
                            entityName: hfrtnszGIwhn
                            trackingId: uSOKrc
                            durationSec: 1
                      - entityId: 29358
                        entityName: QLkgWkWaFuGJ
                        trackingId: iexMRB
                        startTime: '2022-01-11T08:17:00.726105Z'
                        endTime: '2022-01-18T08:17:00.726111Z'
                        contacts:
                          - entityId: 29356
                            entityName: hfrtnszGIwhn
                            trackingId: uSOKrc
                            durationSec: 1
                    page:
                      size: 2
                      totalElements: 3
                      totalPages: 2
                      number: 0
        '400':
          description: |-
            Bad Request - too many results to query

            Too many results to query. If possible, try lowering the time range or number of trackingIds. This error mostly occurs when there is very big amount of tracked devices in one room. If that is the case and these devices are not used currently, move them out of range of scanning devices.
          content:
            application/xml:
              schema:
                type: object
                properties: {}
              examples:
                Example:
                  value: |-
                    {
                      "timestamp": "2022-01-20T15:17:50.993+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Too many results to query. If possible, try lowering the time range or number of trackingIds. This error mostly occurs when there is very big amount of tracked devices in one room. If that is the case and these devices are not used currently, move them out of range of scanning devices.",
                      "path": "/v3/colocations/summary"
                    }
            multipart/form-data:
              schema:
                $ref: ''
      operationId: get-v3-novid-colocations
      description: |-
        Returns a list of all colocated devices, where colacated is defined as two devices dwelling in the same room.
        **Time range specified by startTime and endTime cannot be greater than 21 days.**
      security:
        - api_key: []
      parameters:
        - schema:
            type: string
            example: 'dd:24:d0:82:3d:7c'
          in: query
          name: trackingId
          description: Filter by single infected device trackingId
          required: true
        - schema:
            type: string
            example: '2021-11-29T09:40:32Z'
            format: date-time
          in: query
          name: startTime
          description: 'ISO 8601 Timestamp. Indicates the starting point of the time range you want to check. <br> You should use the following format: 2020-08-12T11:40:32+02:00 or 2020-08-12T09:40:32Z for UTC'
          required: true
        - schema:
            type: string
            format: date-time
            example: '2021-11-29T11:40:00+02:00'
          in: query
          name: endTime
          description: 'ISO 8601 Timestamp. Indicates the ending point of the time range you want to check.<br> You should use the following format: 2020-08-12T11:40:32+02:00 or 2020-08-12T09:40:32Z for UTC'
      tags:
        - Colocations
  /v3/channels:
    get:
      summary: List all configured channels
      responses:
        '200':
          description: |-
            OK

            Select **any of** the channel types; Kinesis, EventHub, or Watson for a response example.
          content:
            application/json:
              schema:
                description: Response will include all configured channels. Select any of to view response details by channel type.
                oneOf:
                  - $ref: '#/components/schemas/Stream-channel-kinesis'
                  - $ref: '#/components/schemas/Stream-channel-eventHub'
                  - $ref: '#/components/schemas/Stream-channel-watson'
              examples: {}
      operationId: get-v3-channels
      security:
        - api_key: []
      description: Returns a list of all configured stream channels.
      tags:
        - Stream
    post:
      summary: Create new channel
      operationId: post-v3-channels
      responses:
        '200':
          description: |-
            HTTP/1.1 200 OK <br>
            Content-Type: application/json;charset=UTF-8 <br>
            Content-Length: 24 <br>

            **Channel Id of new channel created**. The Channel Id (channelIds) is required to create a stream subscription.
          content: {}
      description: |
        Create a new AWS Kinesis, Azure Event Hub, or IBM Watson channel.

        The response includes the **channel Id** that is required to create a stream subscription.
      parameters: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-post-channel'
      security:
        - api_key: []
    parameters:
      - schema:
          type: string
        name: ''
        in: path
        required: true
  '/v3/channels/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: 'The channel Id. Channel Id is generated from the Create new channel request by type (kinesis, eventHub, or watson).'
    get:
      summary: Retrieve channel by id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Stream-channel-kinesis'
                  - $ref: '#/components/schemas/Stream-channel-watson'
                    x-stoplight:
                      id: fca4y1zwjma5u
                  - $ref: '#/components/schemas/Stream-channel-watson'
                    x-stoplight:
                      id: duy40ufuh67q7
      operationId: get-v3-channels-id
      description: Retrieve the configuration of a channel by id.
      security:
        - api_key: []
      tags:
        - Stream
    delete:
      summary: Delete a channel  by id
      operationId: delete-v3-channels-id
      responses:
        '200':
          description: OK
      description: Delete a channel by id
      security:
        - api_key: []
      tags:
        - Stream
    patch:
      summary: Update Channel by ID
      operationId: patch-v3-channels-id
      responses:
        '200':
          description: OK
      description: |
        Update a AWS Kinesis, Azure Event Hub, or IBM Watson channel. 
      tags:
        - Stream
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Stream-patch-kinesis-channel'
                - $ref: '#/components/schemas/Stream-patch-eventhub-channel'
                - $ref: '#/components/schemas/Stream-patch-watson-channel'
            examples:
              kinesis:
                value:
                  status: string
                  name: Kontakt kinesis stream
                  channel:
                    type: kinesis
                    endpoint: kinesis.us-east-2.amazonaws.com
                    streamName: string
                    accessKey: string
                    secretKey: string
                    region: string
              eventHub:
                value:
                  status: active
                  name: string
                  channel:
                    type: eventHub
                    endpoint: string
                    sharedAccessKeyName: string
                    sharedAccessKey: string
                    eventHubName: string
              watson:
                value:
                  status: active
                  name: string
                  channel:
                    type: watson
                    orgId: string
                    typeId: string
                    token: string
                    deviceId: string
        description: |-
          From **one of**, select the **channel type** updating (Kinesis, Event Hub, or Watson).

          **IMPORTANT:** When updating a channel property, all channel property values must be provided.
      security:
        - api_key: []
  /v3/streams/subscriptions/telemetry:
    get:
      summary: Retrieve telemetry subscription
      responses: {}
      operationId: get-v3-streams-subscriptions-telemetry
      description: 'Returns the name, type, and channeIds for a telemetry stream subscription.'
      tags:
        - Stream
      security:
        - api_key: []
    post:
      summary: Create telemetry subscription
      operationId: post-v3-streams-subscriptions-telemetry
      responses:
        '200':
          description: OK
      description: |
        Creates a new telemetry stream subscription.

        > It’s important to **first validate that no existing Telemetry stream subscription type exists with connected channels** prior to creating a new subscription. Creating a new Telemetry subscription type when one already exists overwrites that subscription and immediately disconnects any subscribed channels. If a subscription type already exist, you will only need to add a channel ID to the existing subscription via the Telemetry subscritpion PATCH request. **Refer to the GET Subscription Endpoint to validate if a subscription type already exists and record the existing Channel IDs included in the subscription.**
      security:
        - api_key: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-post-subscription'
    patch:
      summary: Update telemetry subscription
      operationId: patch-v3-streams-subscriptions-telemetry
      responses:
        '200':
          description: OK
      description: |
        Updates a telemetry stream subscription.

        **It is important to include any channels already subscribed to the subscription by including them in the array of channel Ids when updating a subscription type.**
      tags:
        - Stream
      security:
        - api_key: []
      requestBody:
        $ref: '#/components/requestBodies/stream-patch-subscription'
    delete:
      summary: Delete telemetry subscription
      operationId: delete-v3-streams-subscriptions-telemetry
      responses:
        '204':
          description: No Content
      description: Deletes a telemetry stream subscription.
      security:
        - api_key: []
      tags:
        - Stream
  '/v3/channels/state/{id}':
    get:
      summary: Retrieve channel connection state by id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    connectionState: DISCONNECTED
                    errorMessage: error message if any
                    timestamp: 1638253416.61
                properties:
                  connectionState:
                    type: string
                    minLength: 1
                    enum:
                      - DISCONNECTED
                      - CONNECTED
                      - INVALID
                  errorMessage:
                    type: string
                    minLength: 1
                    description: Contains possible error messages when processor was unable to establish connection end send any message successfully.
                  timestamp:
                    type: number
                    description: Time when change of the state occurred.
                required:
                  - connectionState
                  - timestamp
      operationId: get-v3-channels-state
      description: |-
        Returns the current connection state of a stream channel.

        connectionState - state of connection to the channel. 

        Can be one of following:

        - **DISCONNECTED** - default after channel creation, means channel is not used

        - **CONNECTED** - established connection and message has been successfully sent

        - **INVALID** - cannot establish connection because of a channel configuration issue
      security:
        - api_key: []
      tags:
        - Stream
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID of the channel.
  /v3/streams/subscriptions/position:
    get:
      summary: Retrieve position subscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream-V2-GET-Subscription'
      operationId: get-v3-streams-subscriptions-position
      description: |-
        Returns the name, type, and channeIds for a position stream subscription. 

        Also, filter by deviceModel when configured.
      security:
        - api_key: []
      tags:
        - Stream
    post:
      summary: Create position subscription
      operationId: post-v3-streams-subscriptions-position
      responses:
        '200':
          description: OK
      description: |-
        Creates a new position stream subscription.

        Filter by Kontakt.io device model ID is availble. For the list of device models and their corresponding device model ID, see **[Stream Position filtering by device model](docs/stream/position-filter.md).**

        > It’s important to **first validate that no existing Position stream subscription type exists with connected channels** prior to creating a new subscription. Creating a new Position subscription type when one already exists overwrites that subscription and immediately disconnects any subscribed channels. If a subscription type already exist, you will only need to add a channel ID to the existing subscription via the Position subscritpion PATCH request. **Refer to the GET Subscription Endpoint to validate if a subscription type already exists and record the existing Channel IDs included in the subscription.**
      security:
        - api_key: []
      parameters: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-position-subscription'
    patch:
      summary: Update position subscription
      operationId: patch-v3-streams-subscriptions-position
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: |-
        Updates a position stream subscription.

        **It is important to include any channels already subscribed to the subscription by including them in the array of channel Ids when updating a subscription type.**
      security:
        - api_key: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-position-subscription'
    delete:
      summary: Delete position subscription
      operationId: delete-v3-streams-subscriptions-position
      responses:
        '204':
          description: No Content
      description: Deletes a postion stream subscription.
      security:
        - api_key: []
      tags:
        - Stream
    parameters: []
  /v3/streams/subscriptions/occupancy:
    get:
      summary: Retrieve occupancy subscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    name: mCCCZeKGYj
                    type: telemetry
                    channelIds:
                      - 6238449836543f4ceda20ebb
                properties:
                  name:
                    type: string
                    description: A user-defined name to identify the subscription.
                  type:
                    type: string
                    description: The type of subscription. Set to occupancy to create the occupancy subscription.
                    enum:
                      - telemetry
                      - position
                      - occupancy
                    example: occupancy
                  channelIds:
                    type: array
                    description: |-
                      The channel Id or multiple channel Ids separated by a comma.
                      Channel Id is included in the Create new channel response that identifies the channel (AWS Kinesis, Azure Event Hub, or IBM Watson)
                    items:
                      type: string
                required:
                  - name
                  - type
                  - channelIds
      operationId: get-v3-streams-subscriptions-telemetry
      description: 'Returns the name, type, and channeIds for a occupancy stream subscription.'
      security:
        - api_key: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-post-subscription'
    post:
      summary: Create occupancy subscription
      operationId: post-v3-streams-subscriptions-telemetry
      responses:
        '200':
          description: OK
      description: |
        Creates a new occupancy stream subscription.

        > It’s important to **first validate that no existing Occupancy stream subscription type exists with connected channels** prior to creating a new subscription. Creating a new Occupancy subscription type when one already exists overwrites that subscription and immediately disconnects any subscribed channels. If a subscription type already exist, you will only need to add a channel ID to the existing subscription via the Occupancy subscritpion PATCH request. **Refer to the GET Subscription Endpoint to validate if a subscription type already exists and record the existing Channel IDs included in the subscription.**
      security:
        - api_key: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-occupancy-subscription'
    patch:
      summary: Update occupancy subscription
      operationId: patch-v3-streams-subscriptions-telemetry
      responses:
        '200':
          description: OK
      description: |-
        Updates a occupancy stream subscription.

        **It is important to include any channels already subscribed to the subscription by including them in the array of channel Ids when updating a subscription type.**
      security:
        - api_key: []
      tags:
        - Stream
      requestBody:
        $ref: '#/components/requestBodies/stream-occupancy-subscription'
    delete:
      summary: Delete occupancy subscription
      operationId: delete-v3-streams-subscriptions-telemetry
      responses:
        '204':
          description: No Content
      description: Deletes a occupancy stream subscription.
      security:
        - api_key: []
      tags:
        - Stream
    parameters: []
  /v3/streams/subscriptions/position/channels:
    parameters: []
    post:
      summary: Add Channels to Position Subscription
      tags:
        - Stream
      responses: {}
      operationId: post-v3-streams-subscriptions-type-channels
      x-stoplight:
        id: cbqhlxd4mbqm5
      description: 'Safely appends one or more channels to an existing Position subscription’s channelIds array, without overwriting the existing list.'
      security:
        - api_key: []
      parameters: []
      requestBody:
        description: ' The list of channel IDs to append to the subscription.'
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  channelIds:
                    - channel-to-remove-1
                    - channel-to-remove-2
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  description: The Channel IDs
                  items:
                    type: string
    delete:
      summary: Remove Channels from Position Subscription
      tags:
        - Stream
      responses: {}
      operationId: delete-v3-streams-subscriptions-type-channels
      x-stoplight:
        id: lejnlb1ql6m7c
      description: 'Safely removes one or more channel IDs from an existing subscription, updating the channelIds list accordingly.'
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  x-stoplight:
                    id: 391ahiq26cfbi
                  items:
                    x-stoplight:
                      id: cnmaihy7nl55g
                    type: string
        description: The list of channel IDs to remove from the subscription.
  /v3/streams/subscriptions/telemetry/channels:
    parameters: []
    post:
      summary: Add Channels to Telemetry Subscription
      tags:
        - Stream
      responses: {}
      operationId: post-v3-streams-subscriptions-type-channels
      description: 'Safely appends one or more channels to an existing Telemetry subscription’s channelIds array, without overwriting the existing list.'
      security:
        - api_key: []
      parameters: []
      requestBody:
        description: ' The list of channel IDs to append to the subscription.'
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  channelIds:
                    - channel-to-remove-1
                    - channel-to-remove-2
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  items:
                    type: string
      x-stoplight:
        id: ajvvdott039m8
    delete:
      summary: Remove Channels from Telemetry Subscription
      tags:
        - Stream
      responses: {}
      operationId: delete-v3-streams-subscriptions-type-channels
      description: 'Safely removes one or more channel IDs from an existing Telemetry subscription, updating the channelIds list accordingly.'
      security:
        - api_key: []
      x-stoplight:
        id: gygwt4cmi73df
      requestBody:
        description: The list of channel IDs to remove from the subscription.
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  channelIds:
                    - new-channel-1
                    - new-channel-2
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  items:
                    type: string
  /v3/streams/subscriptions/occupancy/channels:
    parameters: []
    post:
      summary: Add Channels to Occupancy Subscription
      tags:
        - Stream
      responses: {}
      operationId: post-v3-streams-subscriptions-type-channels
      description: 'Safely appends one or more channels to an existing Occupancy subscription’s channelIds array, without overwriting the existing list.'
      security:
        - api_key: []
      parameters: []
      requestBody:
        description: ' The list of channel IDs to append to the subscription.'
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  channelIds:
                    - channel-to-remove-1
                    - channel-to-remove-2
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  items:
                    type: string
      x-stoplight:
        id: ei3eqyorqusdb
    delete:
      summary: Remove Channels from Occupancy Subscription
      tags:
        - Stream
      responses: {}
      operationId: delete-v3-streams-subscriptions-type-channels
      description: 'Safely removes one or more channel IDs from an existing Occupancy subscription, updating the channelIds list accordingly.'
      security:
        - api_key: []
      x-stoplight:
        id: 3caa8ema32npq
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  channelIds:
                    - new-channel-1
                    - new-channel-2
              required:
                - channelIds
              properties:
                channelIds:
                  type: array
                  items:
                    type: string
        description: The list of channel IDs to remove from the subscription.
components:
  schemas:
    Campus-List:
      description: ''
      type: object
      x-examples:
        example-1:
          links:
            - rel: self
              href: 'https://apps.cloud.us.kontakt.io/v2/locations/campuses?page=0&size=50&sort=name,asc'
          content:
            - id: 24195
              name: PEqoAnDFzQJO
              address: rxcYtJKcgvKR
              description: okDejmxPIYho
              timezone: Etc/UTC
              lat: 47.74476326561381
              lng: 157.97368381604798
              buildings:
                - id: 24255
                  name: iUpmpGjJgxJK
                  address: fVfLIOGCINhD
                  description: piEogPNrOeyKLcoyUpcwGYMepQptnIoh
                  floors:
                    - id: 24275
                      name: ZfGOeNTrTnxz
                      height: 337.0410380534909
                      width: 165.03183838668602
                      anchorLat: -1.9461885039490028
                      anchorLng: 80.92372506610462
                      rotation: -2.5769039085455496
                      properties:
                        IxJpyrlpkEez: ugNxIXEiLakE
                        ZKvdSuxYnXYb: aVyxcYlHgzQO
                        ldWdstMkrmtX: gDRUOycxaXsK
                      level: 0
                      latLngGeojson:
                        type: Feature
                        geometry:
                          type: Polygon
                          coordinates:
                            - - - 153.99553669410852
                                - -54.64034167752789
                              - - 166.80179033397476
                                - -54.64034167752789
                              - - 166.80179033397476
                                - -67.8749810105087
                              - - 153.99553669410852
                                - -67.8749810105087
                              - - 153.99553669410852
                                - -54.64034167752789
                      xyGeojson:
                        type: Feature
                        geometry:
                          type: Polygon
                          coordinates:
                            - - - 500.85822354785705
                                - 688.8619164708019
                              - - 695.766775861022
                                - 688.8619164708019
                              - - 695.766775861022
                                - 52.55372186677936
                              - - 500.85822354785705
                                - 52.55372186677936
                              - - 500.85822354785705
                                - 688.8619164708019
                      imageLatLngGeojson:
                        type: Feature
                        geometry:
                          type: Polygon
                          coordinates:
                            - - - -51.393772649419134
                                - -71.60084375275564
                              - - 14.868312351237421
                                - -71.60084375275564
                              - - 14.868312351237421
                                - -78.92367486330606
                              - - -51.393772649419134
                                - -78.92367486330606
                              - - -51.393772649419134
                                - -71.60084375275564
                      imageXyGeojson:
                        type: Feature
                        geometry:
                          type: Polygon
                          coordinates:
                            - - - 578.5511263129957
                                - 870.2330318825773
                              - - 702.5347247192625
                                - 870.2330318825773
                              - - 702.5347247192625
                                - 329.79923857370574
                              - - 578.5511263129957
                                - 329.79923857370574
                              - - 578.5511263129957
                                - 870.2330318825773
                  lat: 9.689874753553351
                  lng: 25.456757565724402
                  latLngGeojson:
                    type: Feature
                    geometry:
                      type: Polygon
                      coordinates:
                        - - - -179.28805871257677
                            - 82.61997680460593
                          - - -24.25825623314489
                            - 82.61997680460593
                          - - -24.25825623314489
                            - -49.43836075940649
                          - - -179.28805871257677
                            - -49.43836075940649
                          - - -179.28805871257677
                            - 82.61997680460593
                  xyGeojson:
                    type: Feature
                    geometry:
                      type: Polygon
                      coordinates:
                        - - - 642.5338944680805
                            - 650.8771570653545
                          - - 733.208371863077
                            - 650.8771570653545
                          - - 733.208371863077
                            - 37.33181650975339
                          - - 642.5338944680805
                            - 37.33181650975339
                          - - 642.5338944680805
                            - 650.8771570653545
          page:
            size: 50
            totalElements: 1
            totalPages: 1
            number: 0
      properties:
        content:
          type: array
          uniqueItems: true
          minItems: 1
          description: Page content.
[...]
