openapi: 3.0.0
info:
  title: Device Management API
  x-logo:
    url: 'https://kontakt.io/wp-content/themes/kontakt/dist/img/site-header/logo.svg'
    backgroundColor: '#FFFFFF'
  version: '10'
  description: |
    This Kontakt.io API provides direct access to all Kio Cloud Device Management resources. It allows integrating device administration functionality into 3rd-party applications without the need to build all underlying logic from the ground up.

    ## Authentication

    All requests must include a **JWT Bearer token** in the `Authorization` header, obtained via the [OAuth2 Client Credentials flow](https://developer.kontakt.io/docs/entity-management-integration-api/0255c5646ab01-authentication-o-auth2-client-credentials-flow).

    > **Deprecated:** The `Api-Key` header is still accepted for backward compatibility but is deprecated and will be removed. Do not use it for new integrations.

    Each API call requires the `Accept` header with the API version. **By default, set to the current stable version:** `application/vnd.com.kontakt+json;version=10`
  contact:
    name: Support
    url: 'https://support.kontakt.io'
    email: support@kontakt.io
  termsOfService: 'https://kontakt.io/legal-documents/terms-of-sale-and-service/'
externalDocs:
  url: 'https://developer.kontakt.io'
servers:
  - url: 'https://dm-api.cloud.us.kontakt.io'
    description: Kio Cloud US region
  - url: 'https://dm-api.cloud.uk.kontakt.io'
    description: Kio Cloud UK region
security:
  - bearer_token: []
  - api_key: []
tags:
  - name: Account
    description: User account management
  - name: Command
    description: 'Commands are a special type of Configs used for initiating some management tasks, e.g. entering bootloader mode'
  - name: Config
    description: Pending configs represent new values for beacon settings that should be applied to actual devices via e.g. Kontakt.io Administration Apps. Creating a new config does not automatically change anything on a real beacon.
  - name: Device
    description: 'The Device resource represents Kontakt.io devices assigned to a particular Kontakt.io Panel account, as well as devices shared with that account from different accounts.'
  - name: Device tags
    description: The device tags
  - name: Device (3rd party)
    description: |
      NOTE: this set of endpoints has been superseded by External Devices functionality.

      These endpoints provide a way to integrate 3rd party Bluetooth-enabled scanning devices into Kontakt.io platform. As of Summer 2018, Kontakt.io is working with manufacturers of enterprise-level networking devices, like Cassia, Ruckus and Meraki, to seamlessly incorporate data collected by their routers and/or WiFi access points into Kontakt.io Data Streams, and to improve Infrastructure Management capabilities.

      Users wanting to take advantage of this feature, first need to provide proper authentication and integrate Kontakt.io Panel account with a 3rd party vendor. Only after that, devices from that vendor can be added into Kontakt.io platform.

      At any given moment a Company can have **only one** integration per 3rd party Vendor, i.e. you can have **one** Cassia *and* **one** Meraki integration, but you can't have e.g. two Meraki integrations.
  - name: Device (Portal Beam)
    description: |
      These endpoints are designed to assist with storing metadata associated with Portal Beams
  - name: External Device
    description: 'External Device feature is a method of adding arbitrary external devices to the system. Such devices have MAC, unique id, and other virtual attributes, but they cannot be managed (configured).'
  - name: Device Federation
    description: Device Federation feature is a method of addding devices to the account by synchronization with an account in different Device Management (source).
  - name: Eddystone
    description: Helper resources for working with Eddystone beacons
  - name: Firmware
    description: Firmware resources
  - name: Firmware Upgrade
    description: Firmware upgrade resources
  - name: GDPR
    description: General Data Protection Regulation compliance resources
  - name: Manager
    description: 'Managers represent user accounts that can manage Kontakt.io Devices. Everyone can freely create an account on [Kontakt.io Web Panel](https://panel.kontakt.io) and then use it to work with this API.'
  - name: Namespaces
    description: List of Eddystone UID Namespaces used on beacons belonging to a Manager
  - name: Order
    description: 'An Order represents all devices that have been purchased in Kontakt.io Web Store in a single transaction. Before these devices can be used with Kontakt.io platform, they need to be added to Kontakt.io Manager Account.'
  - name: Provisioning
    description: Device provisioning for connectivity setup
  - name: Proximities
    description: List of iBeacon Proximity UUIDs used on beacons belonging to a Manager
  - name: Venue
    description: |
      NOTE: this functionality is deprecated.

      Venues help with organising beacons into groups. They may represent physical locations, but not necessarily.

      Currently in the Kontakt.io Web Panel Venues are called *Locations*, but in order to provide backward compatibility, API still uses the original name.
  - name: Sharing
    description: Endpoints related to sharing devices with other users or moving devices between accounts
  - name: Internal
    description: Internal management endpoints with elevated access.
  - name: LoRaWAN
    description: Endpoints for provisioning LoRa gateways in ChirpStack (OTAA activation).
paths:
  /command/encrypt:
    get:
      tags:
        - Command
      summary: Create Encrypted Commands
      description: Returns a list of Base64-encoded configs with encrypted commands for each of devices specified in a request
      parameters:
        - $ref: '#/components/parameters/UniqueIdList'
        - name: command
          in: query
          required: true
          description: |
            A Command that should be encrypted in configs for each of devices specified in a request

            * `RESET` - Reboots the device
            * `NONCONNECTABLE` - Connectable BLE packets will be non-connectable until a next reboot
            * `SLEEP` - Device enters a sleep mode (stops broadcasting all packets)
            * `BLINK_10S` - Primary LED blinks for 10 seconds or LED blinks with the primary colour for 10 seconds
            * `BLINK_30S` - Primary LED blinks for 30 seconds or LED blinks with the primary colour for 30 seconds
            * `BLINK2_10S` - Secondary LED blinks for 10 seconds or LED blinks with the secondary colour for 10 seconds
            * `BLINK2_30S` - Secondary LED blinks for 30 seconds or LED blinks with the secondary colour for 30 seconds

            Please keep in mind that not all devices can support all of these commands. Refer to device specification to learn more.
          schema:
            type: string
            enum:
              - RESET
              - NONCONNECTBLE
              - SLEEP
              - BLINK_10S
              - BLINK_30S
              - BLINK2_10S
              - BLINK2_30S
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  commands:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncryptedConfig'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  /config:
    get:
      tags:
        - Config
      summary: Get Configs
      description: |-
        Returns all pending configurations for the specified Devices or device type. 

        If no query parameters are provided, this endpoint returns all pending configurations that can be applied to Devices that the user has access to.
      parameters:
        - name: uniqueId
          in: query
          description: List of Unique IDs of Devices which pending configurations should be returned
          required: false
          schema:
            type: array
            items:
              type: string
        - name: deviceType
          in: query
          description: Device type. Only pending configurations for devices of this type will be returned
          required: false
          schema:
            type: string
            enum:
              - BEACON
              - GATEWAY
            default: BEACON
        - $ref: '#/components/parameters/QueryMaxResult'
        - $ref: '#/components/parameters/QueryType'
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/QueryStartIndex'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  configs:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/PendingBeaconConfig'
                        - $ref: '#/components/schemas/PendingGatewayConfig'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
      security:
        - bearer_token: []
        - api_key: []
  /config/create:
    post:
      tags:
        - Config
      summary: Create a Config
      description: |-
        Create or update a *pending configuration* for one or more devices.

        Please be aware that doing this alone *will not make any changes on actual, physical beacons*, unless these beacons are in range of a Kontakt.io gateway (Portal Light).

        Otherwise, this config has to be encrypted, downloaded, and then applied to a device via a Bluetooth connection. Applying the config over a Bluetooth connection is usually done from the Kio Setup Manager app or a 3rd-party custom app that implements one of Kontakt.io mobile SDKs.

        **Not all device models accept all configuration parameters available.** Please check first if device is capable of accepting given configuration parameter.

        Except for `uniqueId` and `deviceType` which are mandatory you only need to provide configuration parameters you wish to change.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/NewBeaconConfig'
                - $ref: '#/components/schemas/NewGatewayConfig'
              required:
                - uniqueId
                - deviceType
      responses:
        '201':
          description: |-
            Created. The request was processed by the server. This does not mean the device has received or applied the config yet — devices pull pending configs asynchronously.

            The response body is an array of pending-config records and shows exactly what was created. How to read it:

            - If the response array does not contain a requested `uniqueId`, the config was not created for that device. The device was unknown to the server, or your API key does not have access to it.
            - For `deviceType=BEACON`, keys in `customConfiguration` that the device model does not accept are silently dropped.
            - For `deviceType=GATEWAY`, unknown `applications.system.*` keys cause the request to be rejected with HTTP 422 (no `201` is returned in that case).

            To check what is pending on the server side later, call `GET /config?uniqueId=...`.
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/PendingBeaconConfig'
                    - $ref: '#/components/schemas/PendingGatewayConfig'
              examples:
                full-success:
                  summary: Full success — every uniqueId and field persisted
                  value:
                    - uniqueId: AAAA
                      model: SMART_BADGE_3_MINI
                      created: '2026-05-04T12:00:00.000Z'
                      updated: '2026-05-04T12:00:00.000Z'
                      txPower: 6
                no-devices-resolved:
                  summary: 201 with empty array — no submitted uniqueId was visible to the caller
                  value: []
                custom-pid-stripped:
                  summary: 201 with a customConfiguration PID silently dropped (unsupported by device)
                  value:
                    - uniqueId: AAAA
                      model: SMART_BADGE_3_MINI
                      created: '2026-05-04T12:00:00.000Z'
                      updated: '2026-05-04T12:00:00.000Z'
                      customConfiguration: {}
        '401':
          description: Unauthorized — the request did not present valid authentication.
        '403':
          description: Forbidden — the caller authenticated but lacks the `CONFIG_CREATE` permission. Note that missing per-device access does not produce 403; it produces a 201 with the affected `uniqueId`s filtered out of the response array (see the 201 response description).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: 'Conflict — a config-level rule was violated. Examples include a concurrent create for the same `uniqueId` (duplicate key), the resulting configuration exceeding the device''s storage budget, or violating power-saving / lock constraints.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: 'Unprocessable Entity — a hard validation error. Examples include invalid types or ranges, malformed `customConfiguration` PIDs (non-hex value, dotted name, value longer than 32 characters), interval below the chip''s minimum, invalid enum values, or `deviceType` mismatch.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
        - $ref: '#/components/parameters/accept'
      security:
        - bearer_token: []
        - api_key: []
  /config/encrypt:
    get:
      tags:
        - Config
      summary: Encrypt a Config
      description: |-
        Returns a list of Base64-encoded configs with encrypted pending configurations for each   Device or Device types specified in a request. This payload can be sent directly via Bluetooth to a device to change its settings. 

        If no query parameters are provided, this endpoint returns encrypted versions of all pending configurations.
      parameters:
        - name: uniqueId
          in: query
          description: List of Unique IDs with existing pending configurations
          required: false
          schema:
            type: array
            items:
              type: string
        - name: clientType
          in: query
          required: false
          schema:
            type: string
            enum:
              - MANAGER
              - GATEWAY
            default: MANAGER
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  configs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncryptedConfig'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
      security:
        - bearer_token: []
        - api_key: []
  /config/delete:
    post:
      tags:
        - Config
      summary: Delete a Config
      description: Deletes pending configurations as specified by devices' unique IDs.
      parameters:
        - $ref: '#/components/parameters/UniqueIdList'
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: Delete successful.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  /config/export:
    post:
      tags:
        - Config
      summary: Export Configs
      description: |
        #### Note: this endpoint requires a user to have permission to call POST /config/create endpoint.

        Writes pending configurations merged with the current state of devices into a CSV file. The link to this file
        will be returned in the response.

        Merging algorithm works as follows - for any given device's parameter:

        * if it's a virtual parameter OR a physical one but no pending config exists which aims to change its value - the current value of this parameter is used.
        * if it's a physical parameter with a pending config changing its value - the value from that pending config is used.

        List of parameters contained in the resulting CSV file:

        | Parameter | Comment |
        |-----------|---------|
        |uniqueId| |
        |mac| |
        |alias| |
        |tags| |
        |currentLocation.campusId| |
        |currentLocation.campusName| |
        |currentLocation.buildingId| |
        |currentLocation.buildingName| |
        |currentLocation.floorId| |
        |currentLocation.floorName| |
        |currentLocation.roomId| |
        |currentLocation.roomName| |
        |packets| |
        |profiles| |
        |proximity| |
        |major| |
        |minor| |
        |namespace| |
        |instanceId| |
        |lightSensorSamplingInterval| |
        |url| |
        |txPower| |
        |shuffled| |
        |interval| |
        |name| |
        |rssi0m| |
        |rssi1m| |
        |powerSaving.mode| See the `powerSaving.mode` field in the `Get Devices` endpoint response for possible values and descriptions. `OFF` = empty list in API response (default configuration); empty = not applicable to the device. |
        |powerSaving.moveSuspendTimeout| |
        |powerSaving.lightSensorHysteresis| |
        |powerSaving.lightSensorThreshold| |
        |powerSaving.rtc.MON| |
        |powerSaving.rtc.TUE| |
        |powerSaving.rtc.WED| |
        |powerSaving.rtc.THU| |
        |powerSaving.rtc.FRI| |
        |powerSaving.rtc.SAT| |
        |powerSaving.rtc.SUN| |
        |eidRotationPeriodExponent| |
        |wifiSsid| |
        |wifiUserName| |
        |wifiProtocol| |
        |wifiPassword| |
        |ibeaconUUID| |
        |rssi_threshold| |
        |filtration_mask| |
        |fallbackSsid| |
        |fallbackPass| |
        |fallbackServer| |
        |apiHost| |
        |dataHost| |
        |otaUrl| |
        |proxyURL| |
        |proxyPort| |
        |eapType| |
        |bleScanChannel| |
        |accelerometer.features| |
        |accelerometer.sensitivity| |
        |accelerometer.preset| |
        |accelerometer.move.threshold| |
        |accelerometer.move.duration| |
        |accelerometer.doubleTap.threshold| |
        |accelerometer.doubleTap.timeLimit| |
        |accelerometer.doubleTap.timeLatency| |
        |accelerometer.doubleTap.timeWindow| |
        |accelerometer.move.detectionFlags| |
        |accelerometer.move.detectionFlagsJunction| |
        |accelerometer.doubleTap.detectionFlags| |
        |accelerometer.highPass.mode| |
        |accelerometer.highPass.cutoffFrequency| |
        |accelerometer.highPass.moveDetection| |
        |accelerometer.highPass.doubleTapDetection| |
        |accelerometer.highPass.accelerometerData| |
        |accelerometer.highPass.reference| |
        |batteryLevel| |
        |lastSeen| |
        |deployment.status| |
        |secureProximity| |
        |vendor| |
        |firmware| |
        |product| |
        |productCode| |
        |secureNamespace| |
        |orderId| |
        |category| |
        |roomNumber| |
        |temperatureOffset| |
        |telemetryInterval| |
        |telemetryFields| See the `telemetryFields` field in the `Get Devices` endpoint response for possible values and descriptions. `OFF` = empty list in API response (default configuration); empty = not applicable to the device. |
        |eidIdentityKey| |
        |kontaktFrameInterval| |
        |locationFrameChannel| |
        |locationFrameInterval| |
        |buttonFeatures| See the `buttonFeatures` field in the `Get Devices` endpoint response for possible values and descriptions. `OFF` = empty list in API response (default configuration); empty = not applicable to the device. |
        |multiClickCount| Number of clicks required for multi-click detection (1–10). |
        |panicDuration| |
        |bleScan.duration| |
        |bleScan.models| |
        |bleScan.force| |
        |bleScan.interval| |
        |bleScan.size| Maximum number of scanned items reported per scan (0–255). Requires nrf52 firmware >= 2.5.88. |
        |occupancy.sleepInterval| |
        |occupancy.minInterval| |
        |occupancy.footfallLine| |
        |occupancy.calibration| |
        |occupancy.model| |
        |irBlinkInterval| |
        |irReceiver.wakeUpInterval| |
        |irReceiver.maxListenInterval| |
        |irReceiver.disableOnNoMotion| |
        |irTransmitter.intensity| |
        |irTransmitter.dutyCycle| |
        |irTransmitter.protoV2| |
        |irDetectionParams| |
      parameters:
        - $ref: '#/components/parameters/UniqueIdList'
        - name: deviceType
          in: query
          description: 'Device type filter. If specified, only exports the devices with the type(s) specified. If not, all devices will be exported.'
          schema:
            type: array
            items:
              type: string
              example:
                - BEACON
                - GATEWAY
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                description: 'Contains the link to exported file, plus the list of uniqueIds in it.'
                properties:
                  url:
                    type: string
                    description: URL to download the exported file from.
                    example: 'https://dm-api.cloud.us.kontakt.io/config/bdf5b73a-df5a-466d-89ba-f0c4b6a2148c/csv'
                  uniqueIds:
                    description: |
                      Specifies the devices included in the exported file. It could differ from
                      the requested list due to insufficient permissions.
                    type: array
                    items:
                      $ref: '#/components/schemas/UniqueId'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  /config/import:
    post:
      tags:
        - Config
      summary: Import Configs
      description: |
        #### Note: this endpoint requires a user to have permission to call POST /config/create endpoint.

        Imports a CSV file with configuration parameters, virtual or physical, and applies them to the devices
        as pointed in that file.

        Virtual parameters are modified instantly upon successful response, whereas for physical parameters a pending
        configuration is created.

        This endpoint can take in a file generated by the POST /config/export without any modifications or modified as needed,
        but also any valid CSV file.        

        #### Note: All rows will be processed even if one of them contains errors - this is to aid in fixing errors in CSV files and resubmitting it.However **if one of the rows contains errors, the proper rows won't take effect**.
        #### The proper course of action when an error is returned for one or more of the rows is fixing errors in the file and submitting it again.


        ## File format 

        Below is a comma-separated text file rendered as a table:

        |  uniqueId  | parameter 1 | ... | parameter N |
        |------------|-------------|-----|-------------|
        |  11P10AvW  |      1      | ... | abctexttext |
        |  11S13AhY  |      42     | ... |  textvalue  |
        | .......... |     ...     | ... |     ...     |
        | uniqueId N |             | ... |     abd     |

        In other words, each row is a *uniqueId* of a device followed by configuration properties we want to change in it.

        Lack of value in a cell means no change to that value, with some exceptions:
        * alias: lack of value resets it to an empty string
        * tags: lack of value resets it to an empty list

        | Supported parameters |
        |----------------------|
        |deployment.status|
        |alias|
        |tags|
        |url|
        |namespace|
        |instanceId|
        |name|
        |password|
        |proximity|
        |major|
        |minor|
        |txPower|
        |interval|
        |shuffled|
        |lightSensorSamplingInterval|
        |eidRotationPeriodExponent|
        |profiles|
        |packets|
        |rssi0m|
        |rssi1m|
        |powerSaving.mode|
        |powerSaving.moveSuspendTimeout|
        |powerSaving.lightSensorHysteresis|
        |powerSaving.lightSensorThreshold|
        |powerSaving.rtc.MON|
        |powerSaving.rtc.TUE|
        |powerSaving.rtc.WED|
        |powerSaving.rtc.THU|
        |powerSaving.rtc.FRI|
        |powerSaving.rtc.SAT|
        |powerSaving.rtc.SUN|
        |accelerometer.features|
        |accelerometer.sensitivity|
        |accelerometer.preset|
        |accelerometer.move.threshold|
        |accelerometer.move.duration|
        |accelerometer.move.detectionFlags|
        |accelerometer.move.detectionFlagsJunction|
        |accelerometer.doubleTap.threshold|
        |accelerometer.doubleTap.timeLimit|
        |accelerometer.doubleTap.timeLatency|
        |accelerometer.doubleTap.timeWindow|
        |accelerometer.doubleTap.detectionFlags|
        |accelerometer.highPass.mode|
        |accelerometer.highPass.cutoffFrequency|
        |accelerometer.highPass.moveDetection|
        |accelerometer.highPass.doubleTapDetection|
        |accelerometer.highPass.accelerometerData|
        |accelerometer.highPass.reference|
        |occupancy.sleepInterval|
        |occupancy.minInterval|
        |occupancy.model|
        |occupancy.footfallLine|
        |occupancy.calibration|
        |irReceiver.wakeUpInterval|
        |irReceiver.maxListenInterval|
        |irReceiver.disableOnNoMotio|
        |irTransmitter.intensity|
        |irTransmitter.dutyCycle|
        |irTransmitter.protoV2|
        |irDetectionParams|
        |irBlinkInterval|
        |roomNumber|
        |temperatureOffset|
        |telemetryInterval|
        |telemetryFields|
        |eidIdentityKey|
        |kontaktFrameInterval|
        |locationFrameChannel|
        |locationFrameInterval|
        |buttonFeatures|
        |multiClickCount|
        |panicDuration|
        |bleScan.duration|
        |bleScan.models|
        |bleScan.force|
        |bleScan.interval|
        |bleScan.size|
        |wifiSsid|
        |wifiUserName|
        |wifiProtocol|
        |wifiPassword|
        |ibeaconUUID|
        |rssi_threshold|
        |filtration_mask|
        |apiHost|
        |dataHost|
        |otaUrl|
        |proxyURL|
        |proxyPort|
        |eapType|
        |bleScanChannel|

        | Ignored parameters (due to them being read-only) |
        |----------------------|
        |mac|
        |orderId|
        |batteryLevel|
        |lastSeen|
        |category|
        |firmware|
        |product|
        |productCode|
        |secureProximity|
        |vendor|
        |secureNamespace|
        |fallbackSsid|
        |fallbackPass|
        |fallbackServer|
      parameters:
        - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'a CSV file, structure as described in this endpoint''s documentation.'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: array
                description: Response with statuses per uniqueId
                items:
                  type: object
                  properties:
                    message:
                      type: string
                      description: 'Empty if imported successfully, contains an error message otherwise'
                      example: IBeacon UUID field is not a proper UUID
                    status:
                      type: string
                      description: |
                        ERROR means this row contained an error and needs to be fixed.
                        ROLLED_BACK means this row is okay, but other rows contained errors so the changes won't take effect.
                      enum:
                        - SUCCESS
                        - ERROR
                        - ROLLED_BACK
                    uniqueId:
                      $ref: '#/components/schemas/UniqueId'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  /config/readall:
    get:
      tags:
        - Config
      summary: Read raw device configuration
      description: Reads device configuration and returns its state in a raw form (secure response). It can be used as an input for the `POST /device/sync` endpoint to synchronize device state with the cloud.
      parameters:
        - $ref: '#/components/parameters/UniqueIdList'
      responses:
        '200':
          description: Device configuration returned
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  configs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncryptedConfig'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  '/config/{fileName}/csv':
    get:
      tags:
        - Config
      summary: Download CSV file with exported devices
      description: Downloads CSV file with exported devices that has been generated by the `POST /config/export` endpoint
      parameters:
        - name: fileName
          in: path
          description: Identifier of a file to be downloaded. The value is generated dynamically and available in the response of the `POST /config/export` endpoint
          example: a0f49b9e-b2e7-4a5f-a94a-047014eb3958
          schema:
            type: string
          required: true
      responses:
        '200':
          description: CSV file with devices configuration
          content:
            text/csv:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: CSV file with provided name doesn't exist
      security:
        - bearer_token: []
        - api_key: []
  /device:
    get:
      tags:
        - Device
      summary: Get Devices
      description: |
        Returns all devices user has access to. **Some fields are applicable only to devices with specific capabilities.** Please check if you device supports given field before use.

        Results can be filtered using the query parameters specified below.

        This endpoint can also be used to decrypt shuffled devices, for example Eddystone EID packets can be resolved by providing their content in the `eid` parameter.

        Returns 200 with empty `devices` list when no devices found.
      parameters:
        - name: uniqueId
          in: query
          description: Unique IDs of devices that should be returned in a response. Comma separated.
          required: false
          schema:
            type: array
            items:
              type: string
            example: 11P10AvW
          style: form
          explode: false
        - $ref: '#/components/parameters/QueryDeviceType'
        - name: managerId
          in: query
          description: Returns only devices belonging to Managers with specified IDs
          required: false
          schema:
            type: array
            items:
              type: string
        - name: bid
          in: query
          description: 'Returns only beacons configured to broadcast iBeacon packets with specified identifiers. Each beacon should be represented as a colon-separated tuple of Proximity UUID, Major and Minor, e.g. `3C4BDEE8-D6FA-4A33-9AB7-B327D9200D4D:433:16621` (ProximityUUID:Major:Minor).'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: euid
          in: query
          description: 'Returns only beacons configured to broadcast Eddystone UID packets with specified identifiers. Each beacon should be represented as colon-separated tuple of Namespace and Instance ID, e.g. `8c0a2a6b2d754d9ba600:736366476b70` (Namespace:InstanceID).'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: eid
          in: query
          description: 'Returns only beacons that correspond with provided Eddystone EID packets, in the same order as packets were specified in the query.'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: access
          in: query
          description: Limits the response body only to devices with specified access level.
          required: false
          schema:
            $ref: '#/components/schemas/DeviceDataRole'
        - $ref: '#/components/parameters/QueryMaxResult'
        - $ref: '#/components/parameters/QueryType'
        - $ref: '#/components/parameters/accept'
        - schema:
            type: string
          in: query
          name: q
          description: Filter query. Please refer to Filtering article.
        - $ref: '#/components/parameters/QueryStartIndex'
        - schema:
            type: string
          in: query
          name: mac
          description: MACs of devices that should be returned in a response. Colon format. Comma separated. Case insensitive.
          style: form
        - $ref: '#/components/parameters/QueryDeviceSelector'
        - $ref: '#/components/parameters/QueryDeviceOrderBy'
        - schema:
            type: string
            enum:
              - ASC
              - DESC
          in: query
          name: order
          description: Order direction.
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
                required:
                  - devices
                  - searchMeta
      security:
        - bearer_token: []
        - api_key: []
      x-stoplight:
        id: m7476n9utnmat
    parameters: []
  /device/decrypt:
    post:
      tags:
        - Device
      summary: Decrypt READALL secure response from device
      description: |
        Accepts a list of secure responses to READALL requests from devices, decrypts them and returns
        the information returned in those as virtual devices composed of values that the READALL responses contain.
      parameters:
        - $ref: '#/components/parameters/UniqueIdList'
        - $ref: '#/components/parameters/accept'
        - name: response
          in: query
          description: 'Devices'' secure responses to READALL requests, listed in the same order as uniqueIds'
          required: true
          schema:
            type: array
            items:
              type: string
              example:
                - AAEhIgAAAAAA9THOrhkTEZIV37l03NdmMcNhblVNE2CK4RFPlo8y
                - AAEhwgAAAAAAGYJ+8PWSkE8iz7cY98/8AVZPbC3rihOGamh03Okn0UhMe364uAfGslh6xSN8dvs9kbXAqR//sQ5BSyqssrLVn1Hwon00no33h3d+gOotOYmaxTA4xCvagxSkt4XZiRKVk2S8A6LIAKxNdjV/V9LGPZAFFClhRURdVumi0jQmGxE4jPj2qx+/TL1fKlPyutOxbdcAX4xi46IAwTY2apOBTSbxoPBrfKzAhSVr57+Rkm6NcNl5YkjgVcp/u9vmLg==
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
                required:
                  - devices
                  - searchMeta
      security:
        - bearer_token: []
        - api_key: []
  /device/update:
    post:
      tags:
        - Device
      summary: Update a Device
      description: |
        This endpoint allows you to perform one of two operations, depending on request's body schema:
        * sending **Secure Response** that has been read from a device after successful application of a new configuration
        * editing **virtual attributes** of a device

        The response status code depends on which operation is performed:
        * **Virtual attributes update**: always returns `200` with a success message.
        * **Secure Response**: returns `200` with pending secure configurations if any exist, or `204` with no body if there are no pending configurations to return.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UpdateDeviceVirtualAttributesRequest'
                - $ref: '#/components/schemas/UpdateDeviceSecureResponseRequest'
      responses:
        '200':
          description: |
            OK. Returned in two cases:
            * **Virtual attributes update** — body contains a success message.
            * **Secure Response with pending configs** — body contains the pending secure configurations for the updated devices.
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                oneOf:
                  - type: object
                    title: Update success message
                    description: Returned when updating virtual attributes.
                    properties:
                      message:
                        type: string
                        description: Success message.
                        example: Update successful.
                    required:
                      - message
                  - type: object
                    title: Pending secure configurations
                    description: Returned when sending a Secure Response and there are pending configurations.
                    properties:
                      configs:
                        type: array
                        items:
                          type: object
                          properties:
                            uniqueId:
                              type: string
                              description: Unique ID of the device.
                            config:
                              type: string
                              description: Base64-encoded secure configuration profile to be applied to the device.
                      searchMeta:
                        $ref: '#/components/schemas/SearchMeta'
                    required:
                      - configs
                      - searchMeta
        '204':
          description: |
            No Content. Returned when sending a Secure Response and there are no pending
            secure configurations to return for the updated devices.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Device not found or insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity - validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
        - $ref: '#/components/parameters/accept'
      security:
        - bearer_token: []
        - api_key: []
  '/device/unassigned/{managerId}':
    get:
      deprecated: true
      tags:
        - Device
      summary: Get unassigned Devices
      description: Returns a list of Devices belonging to a specified Manager and that Manager's Subordinate Accounts that haven't been assigned to any Venue (Location)
      parameters:
        - name: managerId
          in: path
          description: 'Manager ID This can be either an ID of a Manager that provides the API Key, or and ID of one of that Manager''s Subordinate Manager.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/QueryDeviceType'
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      operationId: ''
      security:
        - bearer_token: []
        - api_key: []
  '/device/{uniqueId}/access':
    post:
      tags:
        - Device
      summary: Grant access to the device
      description: Grants user(s) access to the device with provided uniqueId. Access level is defined as Role.
      parameters:
        - name: uniqueId
          in: path
          description: The uniqueId of a device that the access should be given for
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAccessGrantRequest'
      responses:
        '204':
          description: Access granted
        '404':
          description: 'Not Found, e.g. manager doesn''t exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Device
      summary: Return managers with access to the device
      description: Provides a list of users that have access to the device
      parameters:
        - name: uniqueId
          in: path
          description: The uniqueId of a device
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of managers returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceAccessResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  '/device/{uniqueId}/access/{email}':
    delete:
      tags:
        - Device
      summary: Revokes access to a device
      description: Revokes access to a device
      parameters:
        - name: uniqueId
          in: path
          description: The uniqueId of a device
          required: true
          schema:
            type: string
        - name: email
          in: path
          description: The email address of a user that access should be revoked
          required: true
          example: manager@example.com
          schema:
            type: string
      responses:
        '204':
          description: Access revoked successfully
        '404':
          description: 'Not Found, e.g. manager doesn''t exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /bulk/device-access:
    post:
      tags:
        - Device
      summary: Bulk operation to grant or revoke access to devices
      description: Grants user(s) access to devices based on provided BQL. Access level is defined as Role.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                q:
                  type: string
                  description: BQL query that specifies devices applicable for granting/revoking access
                  example: (federation.federated==false)
                grantAccess:
                  type: object
                  $ref: '#/components/schemas/DeviceAccessGrantRequest'
                revokeAccess:
                  type: object
                  $ref: '#/components/schemas/DeviceAccessRevokeRequest'
      responses:
        '200':
          description: Access request processed successfully
        '404':
          description: Object not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      tags:
        - Device
      summary: Returns status and details for device access bulk process started by the authorized user
      description: Returns details about the device access bulk process triggered with the endpoint `POST /bulk/device-access`.
      operationId: getBulkDeviceAccessStatusForAuthorizedManager
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAccessBulkJobResponse'
  '/bulk/device-access/{jobKey}':
    get:
      tags:
        - Device
      summary: Returns status and details for provided device access bulk process
      description: Returns details about the specified device access bulk process triggered with the endpoint `POST /bulk/device-access`.
      operationId: getBulkDeviceAccessStatus
      parameters:
        - $ref: '#/components/parameters/BulkDeviceAccessJobKeyPathParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAccessBulkJobResponse'
  /device/sync:
    post:
      tags:
        - Device
      summary: Synchronize device
      description: Synchronize device in API with its actual state using read-all command response.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uniqueId:
                  type: array
                  description: List of Unique IDs of Devices
                  items:
                    type: string
                response:
                  type: array
                  description: List of Base64-encoded Secure responses from Kontakt.io devices to read-all requests. A position on this list corresponds to a position of a Unique ID in the `uniqueId` list.
                  items:
                    type: string
                    format: byte
                updated:
                  description: List of Unix epoch timestamps (seconds) that represent a time and date when a Kontakt.io Device was updated. Mostly used for time synchronization in secure shuffling. A position on this list corresponds to a position of a Unique ID in the `uniqueId` list.
                  type: array
                  items:
                    type: integer
              required:
                - uniqueId
                - response
                - updated
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: Update successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
        - $ref: '#/components/parameters/accept'
      security:
        - bearer_token: []
        - api_key: []
  /device/sync/token:
    post:
      tags:
        - Device
      summary: Synchronize device token
      description: Update Secure profile token in API.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                uniqueId:
                  type: array
                  description: List of Unique IDs of Devices
                  items:
                    type: string
                currentToken:
                  description: Unix epoch timestamp for token. Defaults to now() if omitted.
                  type: integer
              required:
                - uniqueId
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: Update successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
        - $ref: '#/components/parameters/accept'
      security:
        - bearer_token: []
        - api_key: []
  /device/vendor/meraki/create:
    post:
      tags:
        - Device (3rd party)
      summary: Add a Meraki Integration
      description: |
        This endpoint allows to associate your Meraki controller with Kontakt.io platform, enabling to use Meraki devices as external data sources for Data Streams
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                apiKey:
                  type: string
                  description: API Key used for authentication on Meraki's cloud
                secret:
                  type: string
                  description: Secret used for authentication on Meraki's backend
                validator:
                  type: string
                  description: Verification token ensuring Meraki's cloud that the endpoint is correct
              required:
                - apiKey
                - secret
                - validator
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                    description: API Key used for authentication on Meraki's cloud
                    example: skhefgjhdfgv347fsfdv
                  secret:
                    type: string
                    description: Secret used for authentication on Meraki's backend
                    example: SuperSecretString
                  validator:
                    type: string
                    description: Verification token ensuring Meraki's cloud that the endpoint is correct
                    example: lekur8934hiu2ghebv0tbshef
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/accept'
  /device/vendor/meraki/update:
    post:
      tags:
        - Device (3rd party)
      summary: Update a Meraki Integration
      description: |
        This endpoint allows to update an already existing integration with a Meraki platform
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                apiKey:
                  type: string
                  description: API Key used for authentication on Meraki's cloud
                secret:
                  type: string
                  description: Secret used for authentication on Meraki's backend
                validator:
                  type: string
                  description: Verification token ensuring Meraki's cloud that the endpoint is correct
              required:
                - apiKey
                - secret
                - validator
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: Update successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/accept'
  /device/vendor/meraki/delete:
    post:
      tags:
        - Device (3rd party)
      summary: Delete a Meraki Integration
      description: |
        This endpoint allows to remove a Meraki integration
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Delete message
                    example: Delete successful
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/accept'
  /device/delete:
    post:
      tags:
        - External Device
      summary: Delete an external device
      description: This endpoint allows you to delete an external device. This operation is irreversible.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                uniqueId:
                  description: List of external device Unique IDs to delete.
                  type: array
                  items:
                    $ref: '#/components/schemas/UniqueId'
              required:
                - uniqueId
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message.
                    example: Delete successful
                required:
                  - message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity - validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
        - $ref: '#/components/parameters/accept'
      security:
        - bearer_token: []
        - api_key: []
  /device/external:
    post:
      tags:
        - External Device
      summary: Create a single external device
      description: |
        External device represents device that exists outside the Kio Cloud platform. It can be imported to the Kio Cloud platform so the platform is aware of that device.

        This process is synchronous, meaning the device is ready to use as soon as the API response from this endpoint is received.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExternalDevice'
        required: true
      responses:
        '200':
          description: New external device created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '422':
          description: 'Unable to process the request, e.g. invalid request body'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /device/external/import:
    post:
      tags:
        - External Device
      summary: Import external devices
      description: |
        External device represents device that exists outside the Kio Cloud platform. It can be imported to the Kio Cloud platform so the platform is aware of that device.

        This process is A-synchronous, so you should poll for status via `GET /device/external/import/{jobKey}` with `jobKey` taken from response.

        To import devices the CSV file needs to be provided with the following columns.

        | Value name    | Description    | CSV header     | Required     | Example      |
        |---------------|----------------|----------------|--------------|--------------|
        | Unique Id     | Free text value used to identify the device. If not provided, it is generated automatically. | uniqueId | No | A12dBB |
        | MAC address   | MAC address that uniquely identifies the device. Needs to be provided in format XX:XX:XX:XX:XX:XX. MAC address is always converted to uppercase for consistency. | mac | Yes | 08:00:04:02:00:00 |
        | Product name | Name of the product in a human-readable way | product | Yes | External device |
        | Product code | Code of the product that identifies its type | productCode | No | external_device |
        | Tags         | List of labels that can be used to group devices | tags | No | external,bulb,white |
        | Notes        | User defined description | alias | No | White bulb |
        | Deployment status | Status of a device representing its point in the lifecycle. Allowed values are TO_BE_DEPLOYED, DEPLOYED, END_OF_LIFE | deployment.status | Yes | TO_BE_DEPLOYED |
        | Device category | Category that the device belongs to. Allowed values are TAG, INFRASTRUCTURE | category | Yes | TAG |
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              description: CSV file with a list of devices to be imported.
              format: binary
      responses:
        '200':
          description: Import completed with success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDeviceImportResponse'
    get:
      tags:
        - External Device
      summary: Get status of the import process
      description: Returns status of external devices import process started by the `POST /device/external/import` call
      responses:
        '200':
          description: Import completed with success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDeviceImportResponse'
  '/device/external/import/{jobKey}':
    delete:
      tags:
        - External Device
      summary: Resets status of external devices import process started by the `POST /device/external/import` call
      parameters:
        - name: jobKey
          in: path
          description: The job id to be reset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Import process canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDeviceImportJobResetResponse'
  /tags:
    get:
      tags:
        - Device tags
      summary: Get device tags
      description: Returns list of tags of all devices the user has access to
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                properties:
                  tags:
                    type: array
                    description: List of tags
                    example:
                      - beacon
                      - hospital
                      - important
                    items:
                      type: string
                      description: Tag value
  /portalbeam/image:
    post:
      tags:
        - Device (Portal Beam)
      summary: Store or erase Portal Beam calibration image
      description: |-
        If an empty string is sent, the calibration image associated with this Portal Beam is erased.

        The value sent to API is validated according to schema below before it's accepted.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                uniqueId:
                  type: string
                  description: Unique ID of the Portal Beam.
                image:
                  allOf:
                    - $ref: '#/components/schemas/OccupancyImage'
              required:
                - uniqueId
                - image
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
    get:
      tags:
        - Device (Portal Beam)
      summary: List images for one or more Portal Beams
      description: Fetches all image data associated with a list of Portal Beams.
      parameters:
        - name: uniqueId
          in: query
          description: List of Unique IDs of Portal Beams.
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: array
                description: Images per uniqueId
                items:
                  type: object
                  properties:
                    uniqueId:
                      type: string
                    image:
                      allOf:
                        - $ref: '#/components/schemas/OccupancyImage'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
  /portalbeam/stitching:
    post:
      tags:
        - Device (Portal Beam)
      summary: Create or update stitching between two devices
      description: |-
        Creates or updates a stitching definition between two devices.
        The relationship is treated as undirected (order does not matter).
      requestBody:
        required: true
        content:
          application/vnd.com.kontakt+json; version=10:
            schema:
              $ref: '#/components/schemas/StitchingPair'
      responses:
        '204':
          description: Stitching accepted (created or updated)
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
    get:
      tags:
        - Device (Portal Beam)
      summary: Get stitching by uniqueIds
      parameters:
        - name: uniqueIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Stitching config
          content:
            application/vnd.com.kontakt+json; version=10:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StitchingConfig'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - bearer_token: []
        - api_key: []
    delete:
      tags:
        - Device (Portal Beam)
      summary: Delete stitching between two selected beams
      description: |-
        Deletes stitching between two devices identified by their uniqueIds.
        The pair is treated as undirected: (A,B) is the same as (B,A).
      parameters:
        - name: firstUniqueId
          in: query
          required: true
          schema:
            type: string
          description: Unique ID of one device in the stitched pair.
        - name: secondUniqueId
          in: query
          required: true
          schema:
            type: string
          description: Unique ID of the other device in the stitched pair.
      responses:
        '204':
          description: Stitching pair deleted (or did not exist)
        '400':
          description: 'Invalid request (e.g., identical IDs)'
      security:
        - bearer_token: []
        - api_key: []
  /eddystone:
    post:
      tags:
        - Eddystone
      summary: Decrypt Eddystone Encrypted Telemetry packet
      description: |
        Decrypts Eddystone Telemetry data from an Eddystone Encrypted Telemetry frame. This information can be extracted by specifying one of the two sets of information in the request's parameters:

        * Beacon's Unique ID (`uniqueId`) and its Eddystone Encrypted Telemetry frame (`frame`)
        * Eddystone Ephemeral ID (`eid`) and corresponding Eddystone Encrypted Telemetry frame (`frame`)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                uniqueId:
                  description: Unique ID. Should be used only if `eid` is not specified.
                  type: string
                eid:
                  description: Eddystone Ephemeral ID. Should be used only if `uniqueId` is not specified.
                  type: string
                frame:
                  description: Base64-encoded Eddystone Encrypted Telemetry frame payload
                  type: string
                  format: byte
              required:
                - frame
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                $ref: '#/components/schemas/EddystoneDecrypted'
      security:
        - bearer_token: []
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/accept'
  /firmware:
    get:
      tags:
        - Firmware
      summary: Get Firmwares
      description: Returns firmware for specified devices.
      parameters:
        - name: uniqueId
          in: query
          description: List of Unique IDs of device for which Firmwares should be returned.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: type
          in: query
          description: 'Filtering parameter that allows to return only scheduled or not scheduled Firmwares. If not specified, both types will be returned.'
          required: false
          schema:
            type: string
            enum:
              - ALL
              - SCHEDULED
              - NONSCHEDULED
            default: ALL
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  firmwares:
                    description: List of Firmwares
                    type: array
                    items:
                      $ref: '#/components/schemas/Firmware'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
      security:
        - bearer_token: []
        - api_key: []
  '/firmware/{firmwareVersion}':
    get:
      tags:
        - Firmware
      summary: Get a Firmware
      description: Returns a single Firmware version.
      parameters:
        - name: firmwareVersion
          in: path
          description: Firmware version
          required: true
          schema:
            type: string
        - name: deviceType
          in: query
          description: Device type
          required: true
          schema:
            type: string
            enum:
              - BEACON
              - GATEWAY
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                $ref: '#/components/schemas/FirmwareCore'
      security:
        - bearer_token: []
        - api_key: []
      deprecated: true
  '/firmware/{firmwareVersion}/file':
    get:
      tags:
        - Firmware
      summary: Get a Firmware file
      description: Redirects to a specific Firmware file
      parameters:
        - name: firmwareVersion
          in: path
          description: Firmware version
          required: true
          schema:
            type: string
        - name: deviceType
          in: query
          description: Device type
          required: true
          schema:
            type: string
            enum:
              - BEACON
              - GATEWAY
        - $ref: '#/components/parameters/accept'
      responses:
        '303':
          description: See Other
      security:
        - bearer_token: []
        - api_key: []
      deprecated: true
  /manager:
    get:
      tags:
        - Manager
      summary: Get all Managers
      description: Returns a list Managers. It includes the Manager that has made this API request and all Subordinate Managers for that Manager.
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  managers:
                    type: array
                    items:
                      allOf:
                        - type: object
                          x-sl-internally-excluded: true
                          x-sl-error-message: You do not have permission to view this reference
                        - type: object
                          properties:
                            company:
                              $ref: '#/components/schemas/Company'
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
        '401':
          description: Unauthorized
      security:
        - bearer_token: []
        - api_key: []
      parameters:
        - $ref: '#/components/parameters/accept'
  /namespaces:
    get:
      tags:
        - Eddystone
      summary: Get Namespaces
      description: Returns a list of Eddystone UID Namespaces broadcasted by beacons assigned to the current Manager and their Subordinate Managers.
      parameters:
        - name: namespace
          in: query
          description: List of Eddystone UID Namespaces (non-Secure). Response will contain only Namespaces from this list.
          required: false
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  namespaces:
                    type: array
                    items:
                      type: object
                      properties:
                        namespace:
                          type: string
                          description: Eddystone UID Namespace set by a Manager of a beacon.
                        secureNamespace:
                          type: string
                          description: Secure Eddystone UID Namespace advertised by a beacon. Same as `proximity` if a beacon is not shuffled.
                        shuffled:
                          type: boolean
                          description: Flag indicating whether `secureNamespace` is a shuffled Eddystone UID Namespace.
                        shared:
                          type: boolean
                          description: Flag indicating whether `namespace` comes from a shared beacon.
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
      security:
        - bearer_token: []
        - api_key: []
  /order:
    get:
      tags:
        - Order
      summary: Check Order IDs
      description: Returns a list of all **unassigned** devices (specifically their Unique IDs) for the Order IDs provided in the request parameter.
      parameters:
        - name: orderId
          in: query
          description: List of Order IDs to be checked
          required: true
          schema:
            type: array
            items:
              type: string
              description: Order ID
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: array
                description: List of Unique IDs of devices that are associated with provided Order IDs
                items:
                  type: string
                  description: Unique ID
      security:
        - bearer_token: []
        - api_key: []
  /order/claim:
    post:
      tags:
        - Order
      summary: Claim an order
      description: |-
        Assigns one or more order's devices to this account. An order has to exist in DCC and NOT be claimed elsewhere for this to work.

        Devices from the order that already exist in API will be skipped. Devices that didn't exist in API prior to claiming will be created from scratch.

        This operation is idempotent: claiming an order on the same account more than once has no effect.
      parameters:
        - name: orderId
          in: query
          description: List of Order IDs that should be claimed on this account
          required: true
          schema:
            type: array
            items:
              type: string
              description: Order ID
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                $ref: '#/components/schemas/OrderManagementResponse'
      security:
        - bearer_token: []
        - api_key: []
    get:
      tags:
        - Order
      summary: Get order status
      description: |
        After claiming/releasing the order in DCC, all subsequent device fetch/cleanup jobs in API
        are performed asynchronously. This endpoint allows to track the progress of those operations.
      parameters:
        - name: orderId
          in: query
          description: List of Order IDs for which the order job progress will be displayed.
          required: true
          schema:
            type: array
            items:
              type: string
              description: Order ID
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  orders:
                    type: object
                    description: Per-order job progress
                    properties:
                      each orderId from request:
                        type: object
                        description: Job progress for this order ID
                        properties:
                          runningJobs:
                            type: array
                            items:
                              type: string
                              description: 'Currently running jobs. ImportOrderFromDccJob imports and persists devices from DCC after order claiming, DeleteOrderDevicesJob deletes order devices after releasing.'
                          lastImportJob:
                            type: object
                            description: Detailed information about each step that was performed on the last import job to date.
                          lastDeleteJob:
                            type: object
                            description: Detailed information about each step that was performed on the last delete job to date.
      security:
        - bearer_token: []
        - api_key: []
  /proximities:
    get:
      tags:
        - Proximities
      summary: Get Proximity UUIDs
      description: Returns a list of iBeacon Proximity UUIDs broadcasted by beacons assigned to the current Manager and their Subordinate Managers.
      parameters:
        - name: proximity
          in: query
          description: List of iBeacon Proximity UUIDs (non-Secure). Response will contain only Proximity UUIDs from this list.
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: OK
          content:
            application/vnd.com.kontakt+json;version=10:
              schema:
                type: object
                properties:
                  proximities:
                    type: array
                    items:
                      type: object
                      properties:
                        proximity:
                          type: string
                          format: uuid
                          description: iBeacon Proximity UUID set by a Manager of a beacon.
                        secureProximity:
                          type: string
                          format: uuid
                          description: Secure iBeacon Proximity UUID advertised by a beacon. Same as `proximity` if a beacon is not shuffled.
                        shuffled:
                          type: boolean
                          description: Flag indicating whether `secureProximity` is a shuffled iBeacon Proximity UUID.
                        shared:
                          type: boolean
                          description: Flag indicating whether `proximity` comes from a shared beacon.
                  searchMeta:
                    $ref: '#/components/schemas/SearchMeta'
      security:
        - bearer_token: []
        - api_key: []
components:
  parameters:
    JobKeyPathParam:
      name: jobKey
      in: path
      required: true
      schema:
        type: string
        example: schedule-firmware-upgrade_b4dfa2ed-4ac9-4b36-b662-be6be3925193_c3568e92-ad5d-4301-8420-08eefb77a1ce
    BulkDeviceAccessJobKeyPathParam:
      name: jobKey
      in: path
      required: true
      description: Name of the job
      schema:
        type: string
        example: grant-device-access_b4dfa2ed-4ac9-4b36-b662-be6be3925193
    QueryDeviceType:
      name: deviceType
      in: query
      description: Limits the response only to devices with a given type
      required: false
      schema:
        $ref: '#/components/schemas/DeviceType'
    QueryCurrentLocationCampusIdFilter:
      name: currentLocation.campusId
      in: query
      description: Filter by Campus IDs. Only devices from the specified campuses will be counted.
      required: false
      schema:
        type: array
        items:
          type: number
          description: Individual campus ID
    QueryCurrentLocationBuildingIdFilter:
      name: currentLocation.buildingId
      in: query
      description: Filter by Building IDs. Only devices from the specified buildings will be counted.
      required: false
      schema:
        type: array
        items:
          type: number
          description: Individual building ID
    QueryCurrentLocationFloorIdFilter:
      name: currentLocation.floorId
      in: query
      description: Filter by Floor IDs. Only devices from the specified floors will be counted.
      required: false
      schema:
        type: array
        items:
          type: number
          description: Individual floor ID
    Query:
      in: query
      name: q
      required: false
      description: Filtering query
      schema:
        type: string
    QueryType:
      in: query
      name: queryType
      required: false
      description: |
        `COUNTED` returns a number of all items (not just on the current page) in the `searchMeta` object.
      schema:
        type: string
        enum:
          - NORMAL
          - COUNTED
          - SEARCH_META
        default: NORMAL
    QueryMaxResult:
      in: query
      name: maxResult
      required: false
      description: Maximum number of results
      schema:
        type: integer
        default: 50
        minimum: 0
        maximum: 500
    QueryStartIndex:
      in: query
      name: startIndex
      required: false
      description: Starting row index for pagination. Start index should be equal to `pageNumber * maxResult`.
      schema:
        type: integer
        default: 0
        minimum: 0
    QueryDeviceOrderBy:
      in: query
      name: orderBy
      required: false
      description: |-
        Order results by selected field. In case the resulting order is non-unique, entries with duplicate values are sorted by device id.
        <br/>
        <br/>
        **Applicable fields:**
        - alias  
        - batteryLevel  
        - created  
        - deployment.status  
        - deviceType  
        - id  
        - instanceId  
        - interval  
        - lastErrorTimestamp  
        - lastSeen  
        - major  
        - manager.lastName  
        - minor  
        - model  
        - name  
        - namespace  
        - orderId  
        - pendingConfig  
        - product  
        - profiles  
        - proximity  
        - role  
        - scheduledVersion  
        - txPower  
        - uniqueId  
        - updated  
        - vendor
      schema:
        type: string
    QueryDeviceSelector:
      in: query
      name: selector
      required: false
      style: form
      description: |-
        Limit returned response to the specified fields. Comma separated. Handy in reducing payload sizes.

        `uniqueId` and `queriedBy` fields will always be included in the response.
        <br/>
        <br/>
        **Applicable fields:**
        - accelerometer  
        - access  
        - alias  
        - batteryLevel  
        - bleScanSettings  
        - category  
        - currentLocation  
        - deployedLat  
        - deployedLng  
        - deployment.status  
        - deviceType  
        - displaySettings  
        - firmware  
        - futureId  
        - id  
        - instanceId  
        - interval  
        - irReceiverSettings  
        - irTransmitterSettings  
        - lastErrorTimestamp  
        - lastSeen  
        - lat  
        - lng  
        - localAlertingSettings  
        - lowBatterySettings  
        - mac  
        - major  
        - managerId  
        - metadata  
        - minor  
        - model  
        - name  
        - namespace  
        - occupancySettings  
        - orderId  
        - ownerId  
        - packets  
        - pendingConfig  
        - powerSaving  
        - product  
        - productCode  
        - profiles  
        - proximity  
        - role  
        - rssi0m  
        - rssi1m  
        - scheduledVersion  
        - secureNamespace  
        - secureProximity  
        - sensorSettings  
        - shares  
        - shuffled  
        - status  
        - tags  
        - telemetryFields  
        - txPower  
        - url
        - vendor
      schema:
        type: string
        example: 'uniqueId,product,deployment.status'
    DeviceTypeList:
      name: deviceType
      in: query
      description: 'Device types, listed in the same order as the uniqueIds they correspond to.'
      schema:
        type: array
        items:
          type: string
          example:
            - BEACON
            - GATEWAY
    UniqueIdList:
      name: uniqueId
      in: query
      description: List of devices' unique ids
      required: true
      schema:
        type: array
        items:
          type: string
        example:
          - 11P10AvW
          - 11S13AhY
    UniqueId:
      name: uniqueId
      in: query
      description: Device's unique ID
      example: 11P10AvW
      required: true
      schema:
        type: string
    UniqueIdPath:
      name: uniqueId
      in: path
      description: 'Device''s unique ID, provided in path (URL)'
      example: 11P10AvW
      required: true
      schema:
        type: string
    accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.com.kontakt+json;version=10
      description: Accept header is required.
    FederationIdPath:
      name: federationId
      in: path
      description: 'Device federation''s unique identifier, provided in path (URL)'
      required: true
      schema:
        type: string
        format: uuid
      example: a0f49b9e-b2e7-4a5f-a94a-047014eb3958
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        Provide a JWT in the `Authorization: Bearer <token>` header. This is the standard authentication method for all API requests.

        Obtain a token via the OAuth2 Client Credentials flow from the Kontakt.io Keycloak identity provider.
    api_key:
      type: apiKey
      name: Api-Key
      in: header
      description: |-
        **Deprecated — do not use for new integrations.** This method exists solely for backward compatibility and will be removed in a future release. Use JWT Bearer token authentication instead.

        If you still need an API Key: sign in to **Kio Cloud** > select **Users** > select **Security** > copy your **Server API Key**.
    management_api_key:
      name: Api-Key
      type: apiKey
      in: header
      description: Special management API Key with additional privileges used by authorized users.
  schemas:
    LoraProvisionRequest:
      title: LoRa Provision Request
      type: object
      properties:
        devEui:
          type: string
          description: 'Device EUI (EUI64 hex string, 16 characters). IMPORTANT! We assume that the EUI64 can be mapped to the device MAC address in the following way. For base station the FFFE is placed after first 6 characters in the MAC address. For gateway the FFFF is placed after first 6 characters in the MAC address.'
          example: AABBCCFFFF001122
        appEui:
          type: string
          description: AppEUI for OTAA activation (EUI64 hex string). Renamed to JoinEUI in LoRaWAN 1.1.
          example: '0000000000000001'
        appKey:
          type: string
          description: Application key (128-bit hex string). Maps to LoRaWAN 1.0.x nwk_key.
          example: 00112233445566778899AABBCCDDEEFF
      required:
        - devEui
        - appEui
        - appKey
    LoraProvisionStatusResponse:
      title: LoRa Provision Status Response
      type: object
      properties:
        devEui:
          type: string
          description: Device EUI
          example: AABBCCDDEE001122
        defaultPassword:
          type: string
          description: Factory default password for initial connection
          example: changeme
        newPassword:
          type: string
          description: Device's current password from DM catalog
          example: abcd
        status:
          type: string
          description: Provisioning status
          enum:
            - PROVISIONED
            - NOT_PROVISIONED
    UniqueId:
      description: Unique identifier of a device.
      type: string
      example: 11P10AvW
    CreatedDate:
      description: Informs when the object has been created.
      type: string
      format: date-time
      example: '2023‐09‐18T15:33:00Z'
    UpdatedDate:
      description: Informs when the object has been updated.
      type: string
      format: date-time
      example: '2023‐09‐18T15:33:00Z'
    MacAddress:
      description: Mac address of a device.
      type: string
      example: '00:FA:B6:04:1F:97'
    FirmwareVersion:
      description: Firmware version
      type: string
      example: 2.8.8
    FirmwareUrl:
      description: Firmware url to be used by PL to download firmware binary
      type: string
    FirmwareBinaryChecksum:
      description: Firmware binary checksum
      type: string
      example: fc633ab3
    SecureConfigString:
      type: string
      format: byte
      description: Base64-encoded data with a new Config/Command for a Device with an Unique ID specified in the `uniqueId` field.
    TemperatureMonitorProbeCertificate:
      title: Temperature Monitor Probe Certificates
      type: object
      properties:
        expirationDate:
          type: string
          format: date-time
          description: Expiration date of the probe certificates
        url:
          type: string
          description: URL to download probe certificate
    TemperatureMonitorProbe:
      title: Temperature Monitor Probe
      type: object
      properties:
        uniqueId:
          $ref: '#/components/schemas/UniqueId'
        cert:
          $ref: '#/components/schemas/TemperatureMonitorProbeCertificate'
    TemperatureMonitorProbes:
      title: Temperature Monitor Probes
      type: object
      properties:
        probes:
          type: array
          items:
            $ref: '#/components/schemas/TemperatureMonitorProbe'
    DeviceCommandResponse:
      type: object
      title: Device Command Response
      description: 'Unified response for all device commands (alarm, get_monitor_state, read_all).'
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the command
        created:
          type: string
          format: date-time
          description: Timestamp when the command was created
        expirationDate:
          type: string
          format: date-time
          nullable: true
          description: The time at which command is marked as expired and not processed anymore
        state:
          type: string
          enum:
            - NEW
            - PENDING
            - APPLIED
            - FAILED
          description: Current state of the command
        applyingBy:
          type: object
          nullable: true
          properties:
            cloud:
              type: string
              enum:
                - CISCO
                - KONTAKT
        error:
          type: object
          nullable: true
          description: |
            Structured failure reason. Populated when state is FAILED. The `type` field is a stable
            error code (e.g. `ExternalServiceError`, `RejectedByDevice`, `NoGatewayAvailable`,
            `JobTimedOut`, `RejectedByGatewayRequestService`, `Unknown`) that mirrors the failure
            vocabulary surfaced on the `dm-device-command-changed` Kafka topic so clients can
            correlate REST and Kafka failures.
          properties:
            type:
              type: string
              description: Stable error code identifying the failure category.
            message:
              type: string
              description: 'Human-readable explanation, safe to log.'
        command:
          type: object
          properties:
            type:
              type: string
              enum:
                - alarm
                - get_monitor_state
                - read_all
            body:
              type: object
              nullable: false
              description: Request parameters echoed back. Empty object for commands with no request body.
        deviceResponse:
          type: object
          nullable: true
          description: Device response payload. Populated when state is APPLIED.
          additionalProperties: true
    AlarmCommandBody:
      type: object
      title: Alarm Command Body
      description: Request payload for creating an alarm command (commandName=alarm)
      additionalProperties: false
      required:
        - sensor
        - type
        - action
        - counter
      properties:
        sensor:
          type: string
          enum:
            - TEMPERATURE_0
            - TEMPERATURE_1
            - TEMPERATURE_2
            - HUMIDITY_0
          description: The sensor that triggered the alert
        type:
[...]
